.fourohfour {
  height: 60vh;


  .fourohfour__inner {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-align: center;
    background: transparentize($dark, 0.3);
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .fourohfour__image {
    @extend .object-fit-cover;
    z-index: -1;
  }

  .fourohfour__title {
    @include font-size(4rem);
    position: relative;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    color: $white;

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 10rem;
      height: 0.5rem;
      background: theme-color('primary');
      content: '';
      transform: translateX(-50%);
    }
  }

  .fourohfour__text {
    @include font-size(3rem);
    color: $white;
  }
}
