.banner {
  position: relative;
}

.banner__image {
  position: absolute;
  width: 100%;
  height: 100%;

  img {
    @extend .object-fit-cover;
    width: 100%;
    height: 100%;

  }

  &:after {
    display: block;
    width: 100%;
    height: 100%;
    background: opacity($black);
    content: '';
  }
}

.banner__inner {
  padding-top: 21rem;
  padding-bottom: 18rem;
  color: $white;

  @include media-breakpoint-down(md) {
    padding-top: 17rem;
    padding-bottom: 7.3rem;
  }

  .row {
    align-items: center;
  }
}

.banner__title {
  @include font-size(2.4rem);
  display: flex;
  margin-bottom: 5.2rem;
  font-weight: 300;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: center;
  }

  .icon {
    margin-right: 2rem;
  }

  strong {
    @include font-size(3.5rem);
    display: block;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.banner__bullets {
  @include font-size(2.4rem);
  font-weight: 300;

  @include media-breakpoint-down(md) {
    margin-bottom: 3rem;
  }

  strong {
    display: block;
    font-weight: bold;
  }

  ol {
    counter-reset: item;
  }

  ol > li {
    position: relative;
    margin-bottom: 3rem;
    padding-left: 6rem;
    list-style: none;
    counter-increment: item;
  }

  ol > li:last-of-type {
    margin-bottom: 0;
  }

  ol > li:before {
    @include font-size(2.2rem);
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 3.8rem;
    height: 3.8rem;
    border: 0.15rem solid theme-color('primary');
    font-weight: bold;
    content: counter(item);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}

.banner__cta {
  @include media-breakpoint-down(md) {
    text-align: center;
  }
}
