.card {

  .icon {
    width: 8rem;
    height: 8rem
  }

}

.card__thumbnail {
  position: relative;
  height: 0;
  padding-bottom: 56.75%;

  img {
    @extend .object-fit-cover;
    position: absolute;
  }

  .icon {
    position: absolute;
    right: 3.6rem;
    bottom: 0;
    transform: translateY(50%);
  }
}

.card__copy {
  padding-top: 3.2rem;
}

.card__title {
  @include font-size(2.6rem);
  margin-bottom: 2.5rem;
  font-weight: bold;
}

.card__sub-title {
  @include font-size(2rem);
  font-weight: 300;
}

.card__content {

}

.card__buttons {
  margin-top: 4rem;

  .button {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.card--boxed {

  .card__copy {
    padding: 3.2rem 3.6rem 6rem 4.5rem;
    background: $white;
  }

  .card__thumbnail {

  }
}


.distributor {
  height: 100%;
}
