.cascade {
  display: flex;
  padding: 5rem 6.5rem;
  border: thin solid #CCCCCC;

  @include media-breakpoint-down(sm) {
    padding: 2rem;
    flex-direction: column;
  }
}

.cascade__price {
  padding-right: 10rem;
  flex: 60% 0 0;

  @include media-breakpoint-down(sm) {
    padding-right: 0;
    flex: auto;
  }
}

.cascade__info {
  flex: auto;
}

.cascade__thumbnail {
  width: 90%;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.cascade__specs {

  margin-top: 2rem;

  strong {
    @include font-size(2rem);
  }

  ul {
    margin-top: 1.5rem;
    padding-left: 2.5rem;
    list-style: none;

    strong {
      @include font-size(1.6rem);
    }
  }

  li {
    margin-bottom: 1.2rem;
    line-height: 1.5;
    color: $gray-dark;
  }

  li:before {
    display: inline-block;
    width: 1em;
    margin-right: 1.5rem;
    margin-left: -3rem;
    font-size: 1.2rem;
    color: theme-color('primary');
    content: "\25A0";
  }
}

.cascade__name {
  @include font-size(3rem);
  line-height: 1.2;
  font-weight: bold;
}

.cascade__type {
  color: $gray-dark;
}

.tooltip {
  @include font-size(1.4rem);
}

.cascade__price-btwi {
  border-top: thin solid #DDDFE7;
  border-bottom: thin solid #DDDFE7;
}

.cascade__lease-box {
  position: relative;
  top: -2.5rem;
  left: 1rem;
  margin-bottom: 5rem;
  padding: 3.5rem 2rem;
  border: 0.2rem solid theme-color('primary');
}

.cascade__lease-title {
  display: inline-block;
  position: absolute;
  top: -2.5rem;
  left: 1rem;
  padding: 1rem;
  background: white;
}

.cascade__switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  input[type=checkbox] {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  label {
    display: block;
    position: relative;
    width: 3.2rem;
    height: 1.8rem;
    text-indent: -9999px;
    background: theme-color('primary');
    cursor: pointer;
    border-radius: 10rem;
  }

  label:after {
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    content: '';
    border-radius: 50%;
    transition: 100ms $easeInOutQuart;
  }

  input:checked + label {
    // background: #bada55;
  }

  input:checked + label:after {
    left: calc(100% - 0.3rem);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 1.3rem;
  }
}


.cascade__switch-name {
  @include font-size(1rem);
  width: min-content;
  line-height: 1.2;
  color: #999999;

  &:nth-of-type(1) {
    margin-right: 0.7rem;
    text-align: right;
  }

  &:nth-of-type(2) {
    margin-left: 0.7rem;
    text-align: left;
  }
}

.tooltip-inner {
  @include font-size(1.5rem);
  padding: 2rem;
  text-align: left;
}
