.compare-car {
  padding: 0 2rem 1.5rem 0;
}

.compare-car__image {
  margin-bottom: 2.5rem;
}

.compare-car__title {
  @include font-size(2.2rem);
  font-weight: bold;
}

.compare-car__description {
  color: $gray-dark;
}

.compare {
  table {
    table-layout: fixed;
  }

  img {
    max-width: 100%;
  }

  th {
    border-top: 0;
  }
}

.stock-compare {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1030;
  width: 100%;
  min-height: 40rem;
  border-bottom: thin solid #ccc;
  background: white;
  transform: translateX(-100%);
  transition: all 300ms $easeInOutQuart;

  &.active {
    transform: translateX(0);
  }
}


.stock-compare-title {
  @include font-size(2rem);
  font-weight: bold;
}

.stock-compare-description {
  @include font-size(1.4rem);
  color: #999;
}

.compare__add-car {
  display: flex;
  height: 100%;
  min-height: 48rem;
  background: url('../images/compare-bg.svg');
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.compare__add-car-icon {
  width: 9.4rem;
  height: 9.4rem;
  margin-bottom: 3rem;
  background: url('../images/icon-plus-circle.svg');
  background-size: contain;
}

.compare__add-car-text {
  @include font-size(2rem);
  font-weight: bold;
}

.compare-box:not(.has-car) {
  .compare__car {
    display: none;
  }
}

.compare-box.has-car {
  .compare__add-car {
    display: none;
  }
}

.compare__car-inner {
  padding: 4.4rem 3rem;
}

.compare__car-image {
  position: relative;
  padding-right: 11rem;

  img {
    width: 100%;
  }
}

.compare__car-remove {
  position: absolute;
  top: 0;
  right: 0;
  width: 7.2rem;
  height: 7.2rem;
  background: $black url('../images/close-white.svg');
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-size: 2rem 2rem;
}

.compare__car-info {
  display: flex;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: thin solid $black;
  align-items: baseline;
}

.compare__car-title {
  @include font-size(2.3rem);
  font-weight: bold;
}

.compare__car-type {
  @include font-size(1.6rem);
  color: $gray-dark;
}

.compare__car-description {
  @include font-size(1.6rem);
  color: $gray-dark;
}

.compare__car-price-wrap {
  margin-left: auto;
  text-align: right;
}

.compare__car-price-label {
  @include font-size(1.6rem);
  color: $gray-dark;
  font-style: italic;
}

.compare__car-price {
  @include font-size(2.5rem);
  margin-right: 1rem;
  font-weight: bold;
}

.compare-buttons {
  text-align: right;
}
