.contact-card {
  display: flex;
  margin-bottom: $grid-gutter-width;
  padding: 5rem 10rem;
  background: theme-color('primary');
  align-items: center;

  // Small screen
  @include media-breakpoint-down(lg) {
    padding: 5rem 7rem;
  }

  // Tablet
  @include media-breakpoint-down(md) {
    padding: 3rem;
    flex-direction: column;
    align-items: flex-start;
  }

  // Mobile
  @include media-breakpoint-down(sm) {
  }

  // only skew on large devices
  @include media-breakpoint-up(lg) {
    &.skewed {
      position: relative;
      background: none;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: theme-color(primary);
        z-index: -1;
      }

      &:after {
        /* skewed angle */
        content: '';
        position: absolute;
        right: 0;
        width: 6rem;
        height: 100%;
        top: 0;
        transform: skewX(-8deg);
        background-color: theme-color(primary);
        z-index: -1;
      }

      &.left {
        &:before {
          right: 3rem;
        }
      }

      &.right {
        &:before {
          left: 3rem;
        }

        &:after {
          left: 0;
          right: auto;
        }
      }
    }
  }


  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.contact-card__image {
  width: 12rem;
  height: 12rem;
  overflow: hidden;
  margin-right: 6rem;
  border-radius: 50%;
  flex: auto 0 0;

  // Tablet
  @include media-breakpoint-down(md) {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  img {
    @extend .object-fit-cover;
  }
}

.business__intro {
  @include font-size(4rem);
  line-height: 1.2;
  font-weight: 300;
}

.contact-card__name {
  @include font-size(3.5rem);
  font-weight: bold;
}

.contact-card__concession {
  @include font-size(2rem);
}

.contact-card__phone {
  @include font-size(3.5rem);
  white-space: nowrap;
  color: $black;

  &:hover {
    text-decoration: none;
    color: $black;
  }
}

.contact-card__label {
  @include font-size(2.2rem);
}

.contact-card__email {
  @include font-size(1.4rem);
  display: block;
  margin-top: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;

  // Tablet
  @include media-breakpoint-down(md) {
    display: inline-flex;
  }

  .icon {
    margin-right: 1rem;
  }

  &:hover {
    text-decoration: none;
    color: $black;
  }
}
