.concession-slider {
  overflow: hidden;
  padding: 8rem 0;
  background: $black;

  @include media-breakpoint-down(md) {
    padding: 6rem 0;
  }

  .swiper-wrapper {

  }

  .swiper-slide {
    display: flex;
    // height: 80vh;
    max-height: 69rem;
    overflow: visible;
    padding: 2rem 6.25vw;
    align-items: center;


    @include media-breakpoint-down(md) {
      max-height: initial;
      flex-wrap: wrap;
    }
  }

  .swiper-pagination {
    margin-top: 6rem;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    margin: 0 1rem !important;
  }

  .slide__image {
    height: 100%;
    flex: 57.5% 0 0;


    @include media-breakpoint-down(md) {
      flex: 100% 0 0;
    }

    img {
      @extend .object-fit-cover;
    }
  }

  .slide__info {
    padding: 8.6rem 6rem 9.8rem 14.4rem;
    background: $white;
    flex: 46% 0 0;
    transform: translateX(-7.5%);


    @include media-breakpoint-down(md) {
      width: 90%;
      margin: 0 5%;
      padding: 4.7rem 4rem;
      flex: 0;
      transform: translateY(-7.5%);
    }
  }

  .slide__title {
    @include font-size(3.5rem);
    margin-bottom: 4rem;
    font-weight: 300;
    color: $black;

    strong {
      display: block;
      font-weight: bold;
    }
  }

  .slide__text {
    margin-bottom: 4rem;
    color: $black;
  }

  .slide__phone {
    margin-bottom: 5rem;

    @include media-breakpoint-down(md) {
      margin-bottom: 2.5rem;
    }


    .phone {
      display: inline-flex;
      position: relative;
      height: 100%;
      margin-right: 3rem;
      font-weight: 300;
      cursor: pointer;
      align-items: center;
      transition: all 200ms;

      // Small screen
      @include media-breakpoint-down(md) {
        display: none;
      }

      strong {
        margin-right: 0.6rem;
        font-weight: bold;
      }

      .icon {
        width: 1.5rem;
        height: 2.4rem;
        margin-right: 1.2rem;
      }

      &:hover {
        .phone-dropdown {
          display: block;
        }
      }

      &:after {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-right: 0.85rem;
        margin-left: auto;
        padding-left: 3rem;
        background-image: url('../images/chevron-right.svg');
        background-repeat: no-repeat;
        background-position: center center;
        content: '';
        background-size: contain;
        transform: rotate(90deg);
      }
    }

    .phone-dropdown {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 9001;
      width: auto;
      padding: 3rem;
      background: white;
      transition: all 200ms;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .phone-dropdown__concession {
      display: block;
      margin-bottom: 2rem;

      &:hover {
        text-decoration: none;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      .concession__name {
        display: block;
        font-weight: bold;
        text-transform: none;
        white-space: initial;
        color: $black;
      }

      .concession__phone {
        font-weight: normal;
        color: $gray-dark;
      }
    }
  }
}
