div#cookie-law-info-bar {
  top: 50% !important;
  left: 50%;
  width: 80rem;
  max-width: 90vw;
  transform: translate(-50%, -50%);
  box-shadow: none !important;
  margin: 0 !important;

  .cookie-banner {
    display: flex;
    padding: 1rem;
    font-size: 1.4rem;
    line-height: 1.2;
    text-align: left;
    align-items: center;
    justify-content: space-between;
  }

  br {
    display: none;
  }

  a {
    @extend .button;
    margin-left: 2rem;
  }

  .button {
    margin: 0;
  }

  .cli-bar-btn_container {
    flex-direction: column-reverse;
    margin-top: 5rem !important;

    .cli_settings_button {
      background: none;
    }

    .cookie_action_close_header {
      background-color: theme-color('primary') !important;
      color: $text-on-primary-color !important;
    }
  }

  .cli-bar-message {
    text-align: center !important;
    color: $black !important;
  }

}

#cookie-law-info-again {
  display: none !important;
}
