.featured-post {
  display: flex;
  padding-right: 5vw;
  align-items: center;
}

.featured-post__image {
  height: 75rem;
  max-height: 70vh;
  flex: 55% 0 0;

  img {
    @extend .object-fit-cover;
  }
}

.featured-post__inner {
  padding: 5vw;
  background: white;
  flex: 40% 0 0;
  transform: translateX(-5rem);
}

.featured-post__date {
  @include font-size(1.8rem);
  margin-bottom: 1.2rem;
  font-weight: 300;
}

.featured-post__title {
  @include font-size(3.5rem);
  margin-bottom: 2rem;
  font-weight: bold;
}

.featured-post__read-more {
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;
  align-items: center;

  .icon {
    margin-right: 1rem;
  }

  &:hover {
    text-decoration: none;
  }
}

@include media-breakpoint-down(md) {
  .featured-post {
    flex-direction: column;
    padding-right: 0;

    &__image {
      max-height: 50vh;
      flex: auto;
    }

    &__inner {
      flex: auto;
      transform: none;
      width: 100%;
    }
  }
}
