.financial-disclaimer {
  //@include font-size(2.4rem);
  position: fixed;
  bottom: 2rem;
  left: 50%;
  z-index: 9001;
  width: 60%;
  padding: 3rem 5rem;
  background: white;
  transform: translateX(-50%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  max-height: 90vh;
  overflow-y: auto;

  &.is-hidden {
    display: none;
  }

  @include media-breakpoint-down(sm) {
    width: 95%;
    padding: 3rem;
  }
}

.financial-disclaimer__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background-image: url('../images/close.svg');
  cursor: pointer;
  background-size: contain;
}

.financial-disclaimer__text {
  text-align: center;

  h1, h2, h3 {

    @include font-size(2.4rem);
    font-weight: bold;
    text-align: center;
    color: $black;
  }
}
