.financing {
  padding: 11rem 0 9rem;
}

.financing-title {
  @include font-size(2.4rem);
  margin-bottom: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: $black;
}

.financing-box {
  @include font-size(1.4rem);
  margin-bottom: 2.5rem;
  padding: 1.5rem 3rem;
  border: thin solid $black;
  color: $gray-dark;
}

.financing-info {
  @include font-size(1.4rem);
  color: $gray-dark;
}
