.footer {

  .phone {
    display: flex;
    position: relative;
    height: 100%;
    margin-right: 3rem;
    font-weight: 300;
    cursor: pointer;
    align-items: center;
    transition: all 200ms;

    strong {
      margin-right: 0.6rem;
      font-weight: bold;
    }

    .icon {
      margin-right: 1.2rem;
    }

    &:hover {
      .phone-dropdown {
        display: block;
      }
    }
  }

  .phone-dropdown {
    display: none;
    position: absolute;
    top: -1rem;
    right: 0;
    z-index: 9001;
    width: auto;
    padding: 3rem;
    background: white;
    transform: translateY(-100%);
    transition: all 200ms;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &:before {
      position: absolute;
      bottom: -1rem;
      left: 50%;
      width: 0;
      height: 0;
      border-right: 1.5rem solid transparent;
      border-bottom: 1rem solid $white;
      border-left: 1.5rem solid transparent;
      content: '';
      transform: rotate(180deg) translateX(-50%);
      transform-origin: center left;
    }
  }

  .phone-dropdown__concession {
    display: block;
    margin-bottom: 2rem;

    &:hover {
      text-decoration: none;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .concession__name {
      display: block;
      font-weight: bold;
      text-transform: none;
      color: $black;
    }

    .concession__phone {
      font-weight: normal;
      color: $gray-dark;
    }
  }

  .opening-hours {
    font-weight: 300;
    text-transform: none;

    strong {
      margin-right: 0.6rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &--dacia {
    background: theme-color('primary');
    color: $text-on-primary-color;

    .button {
      border: 2px solid $white;
      box-sizing: border-box;
    }

    .footer__copyright,
    .sitemap__menu-item {
      color: $text-on-primary-color;
    }
  }
}

.footer__main {
  padding-top: 6.5rem;
  padding-bottom: 5.5rem;
  border-top: thin solid $gray-light;
}

.footer__bottom {
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  border-top: thin solid $gray-light;


}

.footer__bottom .wrap {
  display: flex;
  align-items: center;
}

.footer__logo {
  width: 20rem;
  margin-right: 6rem;

  img {
    width: 100%;
    height: auto;
  }
}

.footer__brand {
  margin-left: auto;

  img {
    width: 100%;
    height: 5.6rem;
  }
}

.sitemap {
  margin-bottom: 6rem;
}

.sitemap__title {
  @include font-size(1.8rem);
  margin-bottom: 1.6rem;
  font-weight: bold;
}

.sitemap__menu {
  display: flex;
  flex-direction: column;
}

.sitemap__menu-item {
  @include font-size(1.6rem);
  margin-bottom: .5rem;
  color: $gray-dark;

  &:hover {
    color: $gray-dark;
  }
}

.footer__copyright {
  @include font-size(1.4rem);
  color: $gray-dark;
}

.footer__social .social-links {
  justify-content: flex-end;

  @include media-breakpoint-down(sm) {
    justify-content: flex-start;
  }
}

.footer__social .social-link {
  margin: 0 0.5rem;
}

.footer__social .social-link:last-of-type {
  margin-right: 0;
}

