// General Modal styles
.modal-dialog {
  display: block;

  @include media-breakpoint-up(md) {
    width: 80vw;
    max-width: 80vw;
  }

  .disclaimer {
    @include font-size(1.4rem);
    position: relative;
    font-weight: 300;
    color: $gray-dark;

    &:after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3rem;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 100%);
      content: '';
    }

    &:hover:after {
      height: 0;
    }
  }

}

// Modal form tweaks
.modal-content {
  height: 100%;

  h2 {
    @include font-size(2rem);
    margin-bottom: 2.3rem;
    font-weight: bold;
  }

  label {
    @include font-size(1.2rem);
  }

  .radio label,
  .checkbox label {
    @include font-size(1.8rem);
  }

  .caldera-grid .has-error .form-control,
  .caldera-grid .has-error .form-control:focus,
  .caldera-grid .has-error .form-control:hover {
    border-color: #dd4b39;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    @include font-size(1.8rem);
    width: 100%;
    border: 0;
    border-bottom: thin solid $gray-lightish;

    &:focus {
      outline: 0;
    }
  }

  hr {
    display: block;
    height: 1.8rem;
    border: 0;
  }

  input[type="button"],
  input[type="submit"] {
    @extend .button;
    float: right;
    margin-top: 5rem;
    border: 0;
  }

  .intl-tel-input {
    width: 100%;
  }

  select {
    height: 3rem;
    padding: 0 !important;
  }

  select,
  select:focus,
  textarea,
  input[type="text"][data-provide="cfdatepicker"] {
    width: 100%;
    padding: 1rem;
    border: thin solid $gray-lightish;
    outline: none;
    border-radius: 0;
  }

  input[type="text"][data-provide="cfdatepicker"] {

  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  .breadcrumb {
    visibility: visible !important;

  }

  .alert.alert-success {
    @include font-size(4rem);
    border: none;
    line-height: 1.175;
    font-weight: 300;
    color: $black;
    background: none;

    &:before {
      display: block;
      width: 5.6rem;
      height: 5.6rem;
      margin-bottom: 2rem;
      background-image: url('../images/check-green-circle.svg');
      background-repeat: no-repeat;
      content: '';
      background-size: contain;

    }
  }

  .caldera-grid .has-error .checkbox, .caldera-grid .has-error .checkbox-inline,
  .caldera-grid .has-error .help-block,
  .caldera-grid .has-error .radio, .caldera-grid .has-error .radio-inline {
    color: $black;
  }


  .parsley-required,
  .parsley-type,
  .help-block span {
    @include font-size(1.2rem);
    color: #dd4b39;
    font-style: italic;
  }
}

body {
  .cfdatepicker-dropdown {
    left: 0;
    padding: 2.4rem;
    border: 0;

    @include media-breakpoint-down(lg) {
      padding: 1.4rem;
    }
  }

  .cfdatepicker table tr th {
    border-radius: 0;
  }

  .cfdatepicker table tr td {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;

    @include media-breakpoint-down(lg) {
      width: 2.8rem;
      height: 2.8rem;
    }
  }

  .cfdatepicker table tr td.disabled, .cfdatepicker table tr td.disabled:hover {
    color: #dedede;
  }

  .cfdatepicker table tr td.active {
    color: $black !important;
    background-color: theme-color('primary') !important;
  }

  .cfdatepicker.dropdown-menu th,
  .cfdatepicker.dropdown-menu td {
    padding: 1.1rem;
  }

  .radio {
    display: inline-block;
    margin-right: 2rem;
  }
}

// General Modal settings
.modal-body {
  padding: 3.3rem 8.7rem 6rem 8.7rem;

  .row {
    justify-content: center;
  }

  @include media-breakpoint-down(md) {
    padding: 3rem;
  }
}

.form__title {
  @include font-size(2.5rem);
  display: block;
  font-weight: 300;
}

.form__product-name {
  @include font-size(3rem);
  display: block;
  line-height: 1;
  font-weight: bold;
}

.form__product-image {
  margin-top: 2.5rem;
  transition: all .5s ease;

  img {
    max-width: 100%;
  }
}

.form__contact {
  margin-top: 5rem;
  font-weight: 300;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  .phone {
    @include font-size(2rem);
    display: block;
    font-weight: normal;
  }
}

// Steps above the form
.form__steps {
  padding-top: 5rem;

  @include media-breakpoint-down(md) {
    // display: none;
  }


  &:before {
    display: block;
    width: 62%;
    height: 2px;
    margin: 0 auto;
    background: #DDDFE7;
    content: '';
    transform: translateY(-2.5rem);

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &--small:before {
    width: 50%;
  }

  ol {
    display: flex;
    margin: 0;
    padding: 0;
    counter-reset: item;


  }

  ol > li {
    position: relative;
    counter-increment: item;
  }

  ol > li:before {
    @include font-size(2.2rem);
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 50%;
    width: 4rem;
    height: 4rem;
    border: thin solid #ADB0BC;
    font-weight: bold;
    background: white;
    content: counter(item);
    transform: translate(-50%, -120%);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  li {
    @include font-size(1.4rem);
    display: inline-block;
    width: 20rem;
    margin: 0 3rem;
    font-weight: bold;
    text-align: center;
    color: #ADB0BC;

    @include media-breakpoint-down(sm) {
      width: 30%;
    }
  }

  li a {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  li.active {
    color: $black;
  }

  li.active:before {
    border: none;
    color: $button-color;
    background: theme-color('primary');
  }

  li.complete:before {
    background: white url('../images/check-black.svg');
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
    background-size: 1.8rem auto;
  }
}

.modal-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  background: url('../images/close.svg');
  cursor: pointer;
  background-size: contain;
}
