.hamburger {
  display: none;
  margin-top: auto;

  @include media-breakpoint-down(sm) {
    display: inline-block;
    margin-right: 2rem;
  }
}

.hamburger-navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900001;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  padding: 2rem 0;
  background: white;
  transform: translateX(-100%);
  transition: all 400ms $easeOutCubic;

  &.active {
    transform: translateX(0);
  }

  .hamburger {
    position: absolute;
    top: 2rem;
    right: 0;
  }
}


.hamburger-menu {
  margin-top: 4rem;
  list-style: none;

  .menu-item {
    display: block;
    border-top: thin solid $gray-lightish;
    font-size: 2.4rem;

    a {

      display: flex;
      width: 100%;
      padding: 1.5rem 2rem;
      align-items: center;

    }
  }

  .menu-item.menu-item-has-children > a {
    &:after {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-right: 0.85rem;
      margin-left: auto;
      background-image: url('../images/chevron-right.svg');
      background-repeat: no-repeat;
      background-position: center center;
      content: '';
      background-size: contain;
      transform: rotate(-270deg);
    }
  }

  .menu-item.menu-item-has-children > a.active {
    font-weight: bold;

    &:after {
      transform: rotate(-90deg);
    }
  }

  .menu-item-model {
    img {
      width: 20%;
      height: auto;
    }
  }


  .sub-menu {
    display: none;
    margin-bottom: 0;
    padding-left: 0;

    a {
      padding-left: 4rem;
      font-size: 2rem;
    }
  }

  .sub-menu.active {
    display: block;
  }

  .menu-item:last-of-type {
    border-bottom: thin solid $gray-lightish;
  }

  .menu-item.active {
    font-weight: bold;
  }
}

.header__logo-hamburger {
  display: block;
  width: auto;
  height: 5rem;
  margin-left: 1rem;

  img {
    width: auto;
    height: 100%;
  }
}

.hamburger__languages {
  text-align: center;

  a {
    display: block;
    padding: 2rem;
  }
}
