/**
  Main page header
 */

.header {
  @include font-size(1.8rem);
  display: flex;
  position: relative;
  width: 100%;
  height: 15rem;
  border-bottom: thin solid $gray;


  // Tablet
  @include media-breakpoint-down(sm) {
    height: 12.2rem;
    flex-shrink: 0;
  }

}

.header__logo {
  position: relative;
  display: flex;
  width: 0;
  border-right: thin solid $gray;
  flex: 20% 0 0;
  align-items: center;
  justify-content: center;

  // Small screen
  @include media-breakpoint-down(sm) {
    display: none;
  }

  img {
    width: 65%;
    height: 65%;
    object-fit: contain;
  }
}

.header__logo-mobile {
  display: none;

  // Small screen
  @include media-breakpoint-down(sm) {
    display: block;
    height: 100%;
    max-width: 70%;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.header__content {
  display: flex;
  flex-direction: column;
  flex: 1;

  // Small screen
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.header__info {
  @include font-size(1.8rem);
  display: flex;
  padding-right: 3.75vw;
  padding-left: 4.4rem;
  border-bottom: thin solid $gray;
  text-transform: uppercase;
  color: $gray-dark;
  flex: 55 0 0;
  align-items: center;

  @include media-breakpoint-between(md, lg) {
    padding-right: 1rem;
    padding-left: 2rem;
  }

  @include media-breakpoint-down(sm) {
    overflow: auto;
    padding: 1.8rem 2rem;
  }

  .phone {
    display: flex;
    position: relative;
    height: 100%;
    margin-right: 3rem;
    font-weight: 300;
    cursor: pointer;
    align-items: center;
    transition: all 200ms;

    // Small screen
    @include media-breakpoint-down(sm) {
      display: none;
    }

    strong {
      margin-right: 0.6rem;
      font-weight: bold;
    }

    .icon {
      width: 1.5rem;
      height: 2.4rem;
      margin-right: 1.2rem;
    }

    &:hover {
      .phone-dropdown {
        display: block;
      }
    }

    &:not(.single)::after {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-left: 1.2rem;
      background-image: url('../images/chevron-right.svg');
      background-repeat: no-repeat;
      background-position: center center;
      content: '';
      background-size: contain;
      transform: rotate(90deg);
    }
  }

  .phone-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 90001;
    min-width: 100%;
    padding: 3rem;
    background: white;
    transition: all 200ms;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &:before {
      position: absolute;
      top: -1rem;
      left: 50%;
      width: 0;
      height: 0;
      border-right: 1.5rem solid transparent;
      border-bottom: 1rem solid $white;
      border-left: 1.5rem solid transparent;
      content: '';
      transform: translateX(-50%);
    }
  }

  .phone-dropdown__concession {
    display: block;
    position: relative;
    margin-bottom: 2rem;

    &:before {
      position: absolute;
      top: -1rem;
      right: -3rem;
      bottom: -1rem;
      left: -3rem;
      z-index: -1;
      background: #bebebe1a;
      opacity: 0;
      content: '';
      transition: all 200ms;
    }

    &:hover {
      text-decoration: none;
    }

    &:hover:before {
      opacity: 1;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .concession__name {
      display: block;
      font-weight: bold;
      text-transform: none;
      color: $black;
    }

    .concession__phone {
      font-weight: normal;
      color: $gray-dark;
    }
  }

  .opening-hours {
    display: flex;
    position: relative;
    height: 100%;
    font-weight: 300;
    text-transform: none;
    cursor: pointer;
    align-items: center;

    // Small screen
    @include media-breakpoint-down(sm) {
      display: none;
    }

    strong {
      margin-right: 0.6rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    &:hover .opening-hours-dropdown {
      display: flex;
    }

    &:after {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-left: 1.2rem;
      background-image: url('../images/chevron-right.svg');
      background-repeat: no-repeat;
      background-position: center center;
      content: '';
      background-size: contain;
      transform: rotate(90deg);
    }
  }
}

.header__brand {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  max-height: 8rem;
  padding: 1.2rem 0 1.2rem 1.2rem;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  img {
    width: auto;
    height: 100%;
    max-width: 15rem;
  }

  img + img {
    margin-left: 2rem;
  }
}

.header__navigation {
  display: flex;
  position: relative;
  overflow: hidden;
  padding-right: 3.75vw;
  align-items: center;
  flex: 45 0 0;

  @include media-breakpoint-between(md, lg) {
    padding-right: 1rem;
    padding-left: 2rem;
  }
}

.header__menu {
  display: flex;
  height: 100%;
  margin-right: auto;
  padding-left: 4.4rem;
  align-items: center;

  @include media-breakpoint-down(lg) {
    padding: 0;
  }

  // Small screen
  @include media-breakpoint-down(sm) {
    display: none;
  }

  li {
    display: flex;
    height: 100%;
    list-style: none;
    align-items: center;

  }

  .icon--home {
    margin-right: 1.5rem;

    @include media-breakpoint-down(lg) {
      margin-right: 1rem;
    }
  }

  .menu-item a {
    display: flex;
    position: relative;
    height: 100%;
    padding: 0 1rem;
    color: $gray-dark;
    align-items: center;

    &:after {
      position: absolute;
      right: 0;
      bottom: -0.2rem;
      left: 0;
      height: 0;
      background: theme-color('primary');
      content: '';
      transition: all 100ms;
    }
  }

  .menu-item a:hover,
  .active a {
    text-decoration: none;
    color: black;

    &:after {
      height: 0.4rem;
    }
  }
}


.header__contact,
.header__search {
  display: flex;
  position: relative;
  height: 100%;
  padding: 0 2rem;
  border-left: thin solid $gray;
  color: black;
  align-items: center;

  @include media-breakpoint-down(md) {
    padding: 0 3rem;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 2rem;
    flex: 50% 0 0;
    justify-content: flex-start;
  }

  .pre {
    @include media-breakpoint-only(md) {
      margin-right: 0;
    }
  }

  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    background: theme-color('primary');
    content: '';
    transition: all 100ms;
  }

  &:hover {
    text-decoration: none;
    color: $black;
  }

  &:hover:after {
    height: 0.3rem;
  }
}


.header__contact-text {
  white-space: nowrap;

  @include media-breakpoint-only(md) {
    display: none;
  }
}

.header__search-text {
  white-space: nowrap;

  @include media-breakpoint-only(md) {
    display: none;
  }
}

.header__search-form {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 4.4rem;
  background: white;
  justify-content: space-between;
  align-items: center;
  transform: translateX(100%);
  transition: all 750ms $easeOutCubic;

  @include media-breakpoint-between(sm, md) {
    padding-left: 2rem;
  }

  @include media-breakpoint-down(md) {
    padding-left: 2rem;
  }

  .search-form {
    display: flex;
    flex: 1;
    align-content: center;
  }

  .search-field::placeholder {
    font-weight: 300;
    text-transform: uppercase;
    color: #999;
  }

  .search-submit {
    margin-right: 4rem;
    margin-left: auto;
    border: none;
    outline: none;
    font-weight: bold;
    text-transform: uppercase;
    color: theme-color('primary');
    background: none;


    @include media-breakpoint-down(md) {
      margin-right: 1rem;
    }
  }

  .screen-reader-text {
    display: none;
  }

  label {
    width: 70%;
    margin: 0;
    margin-left: 2rem;
  }

  input {
    border: 0;
    outline: none;
  }
}

.header__search-form.active {
  transform: translateX(0);
}

.header__search-form-close {
  width: 7.2rem;
  height: 100%;
  background: $black url('../images/close-white.svg');
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-size: 2rem 2rem;
}

