/**
  Page hero, a slider or static image
 */

// Wrapper class
.hero {
  position: relative;
  height: 60rem;
  overflow: hidden;
  background: slategray;


  // Tablet
  @include media-breakpoint-down(md) {
    height: 42rem;
  }

}

.hero__back {
  @include font-size(1.4rem);
  display: none;
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 200;
  font-weight: bold;
  color: $white;

  &:hover {
    color: $white;
  }

  @include media-breakpoint-down(md) {
    display: block;
    text-transform: uppercase;
  }
}

// The slide image
.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    min-width: 100%;
  }
}

// Gradient overlay
.hero__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(195.84deg, rgba(31, 37, 50, 0.0001) 29.76%, rgba(31, 37, 50, 0.8) 99.72%);
}

// The text
.hero__copy {
  position: absolute;
  bottom: 5vw;
  left: 5vw;
}

// Optional badge for some models
.hero__copy .badge {
  margin-bottom: 3rem;
}

// Big title
.hero__top-title {
  @include font-size(4rem);
  font-weight: 300;
  color: $white;
}

// Small title
.hero__main-title {
  @include font-size(5rem);
  font-weight: bold;
  color: $white;
}

// Scroll arrow
.hero__scroll {
  @extend .icon--arrow;
  @extend .icon--arrow-down;
  position: absolute;
  right: 5vw;
  bottom: 5vw;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%; /* % of surrounding element */
    width: 100vh; /* 100 * 16 / 9 */
    min-width: 100%;
    height: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
    transform: translate(-50%, -50%); /* % of current element */
  }
}

.hero-usage-overlay {
  position: absolute;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 3rem;

  svg {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    fill: black;
  }

  @include media-breakpoint-up(sm) {
    margin-top: -6rem;
    color: white;
    text-shadow: 0 0 5px black;
    left: auto;
    right: 3rem;
    flex-direction: row;
    grid-gap: 1rem;
    align-items: center;

    svg {
      filter: drop-shadow(0 0 5px black);
      fill: white;
    }
  }
}
