/**
  Row with image and a block of text next to it.
 */


// Image to the left, text to the right
.image-text {

  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }

  .call-to-action {
    @include font-size(2.5rem);
    position: absolute;
    top: 0;
    right: -23rem;
    width: 33rem;
    margin-bottom: 0;
    padding: 6rem;
    color: $button-color;
    background: theme-color('primary');

    @include media-breakpoint-down(xl) {
      right: -3rem;
      padding: 4rem;
    }

    @include media-breakpoint-down(md) {
      display: flex;
      top: auto;
      right: 6rem;
      bottom: 0;
      left: 2rem;
      width: auto;
      padding: 1.5rem 2rem;
      transform: translateY(50%);
      align-items: center;
    }

    &:after {
      display: block;
      width: 1rem;
      height: 1.4rem;
      margin-top: 1rem;
      background: url('../images/#{$button-chevron}') center center no-repeat;
      content: '';

      @include media-breakpoint-down(md) {
        margin-top: 0;
        margin-left: 3rem;
      }
    }

    strong {
      @include media-breakpoint-down(md) {
        margin-left: 1rem;
      }
    }
  }

  .image {
    position: relative;
    flex: 55% 0 0;

    @include media-breakpoint-down(md) {
      margin-bottom: 2rem;
      flex: 100% 0 0;
    }

    .image-ratio {
      height: 0;
      overflow: hidden;
      padding-bottom: 67%;

      img {
        @extend .object-fit-cover;
        position: absolute;
        top: 0;
        bottom: 0;
      }
    }
  }

  .text {
    @include font-size(2rem);
    padding: 0 0 0 5%;
    flex: 40% 1 0;

    @include media-breakpoint-down(md) {
      padding-left: 2rem;
      flex: 100% 0 0;
    }

    h1, h2, h3, h4, h5 {
      @include font-size(3.5rem);
      margin-bottom: 3rem;
      font-weight: bold;
    }

    strong, p {
      display: block;
      margin-bottom: 2rem;
    }
  }

  .text--bottom {
    margin-bottom: 5rem;
    align-self: flex-end;

    @include media-breakpoint-down(md) {
      margin-top: 5rem;
    }
  }
}

// Text to the left, image to the right
.image-text--reverse {
  flex-direction: row-reverse;

  .call-to-action {
    right: auto;
    left: -23rem;
    width: 33rem;

    @include media-breakpoint-down(lg) {
      left: -3rem;
      padding: 4rem;
    }

    @include media-breakpoint-down(md) {
      display: flex;
      top: auto;
      right: 6rem;
      bottom: 0;
      left: 2rem;
      width: auto;
      padding: 1.5rem 2rem;
      transform: translateY(50%);
      align-items: center;
    }
  }

  .text {
    padding: 0 5% 0 0;

    @include media-breakpoint-down(md) {
      padding-left: 2rem;
      flex: 100% 0 0;
    }
  }
}
