/**
  ACF Google Maps. Key is set in app/setup.php and code is in
  scripts/partials/acf-map.js
 */

.map {
  position: relative;
  min-height: 50rem;
  padding: 6.25vw;
}

.map__iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.map__acf {
  width: 100%;
  height: 100%;
}

.map__content {
  position: relative;
  width: 58rem;
  padding-bottom: 2rem;
  background: $white;

  @include media-breakpoint-up(md) {
    max-height: 70vh;
    overflow-y: auto;
  }

  @include media-breakpoint-down(md) {
    max-width: 90%;
  }

  .concession-info {
    position: relative;
    padding: 3rem 6.3rem;
    border-bottom: thin solid $gray-light;

    &:last-of-type {
      border: none;
    }
  }

  .concession-info:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background: theme-color('primary');
    content: '';
    transition: all 250ms;
  }

  .concession-info.active:before {
    width: 1rem;
  }

  .opening-hours__link {
    display: inline-flex;
  }

  .opening-hours__link:after {
    margin-left: 1.25rem;
  }

  .opening-hours__link.collapsed {
    border-color: $black;
  }
}

.map__title {
  padding: 6rem 6.3rem 1rem;
}


.map__title {
  @include font-size(2.6rem);
  font-weight: bold;
}

// Fixes potential theme css conflict.
.map img {
  max-width: inherit !important;
}
