.model-categories__nav {
  display: flex;
  list-style: none;
  background: white;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    display: none;
  }

  li {
    list-style: none;
    flex: auto 0 0;

    .category:hover,
    &.active .category {
      text-decoration: none;

      &:after {
        width: 100%;
      }
    }
  }

  .category {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 3.6rem 0 3.1rem;
    border-bottom: 0.2rem solid $gray-light;
    color: $black;
    align-items: center;
    transition: all 250ms;

    &:after {
      position: absolute;
      bottom: -0.2rem;
      left: 0;
      width: 0;
      height: 0.4rem;
      background: theme-color('primary');
      content: '';
      transition: all 300ms;
    }

  }

  .category__subtitle {
    font-weight: 300;
    transition: all 250ms;
  }

  .category__title {
    @include font-size(2.5rem);
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 250ms;

    strong {
      @include font-size(3rem);
      display: block;
      margin: 0.8rem 0;
      font-weight: bold;
    }
  }

}

.model-categories__nav.js-is-sticky {
  border-bottom: 2px solid $gray-light;

  .category {
    padding: 1.8rem 0 1.8rem;
    border: none;
  }

  .category__subtitle {
    @include font-size(2rem);
  }

  .category__title {
    @include font-size(2.5rem);

    strong {
      @include font-size(2.6rem);
    }
  }
}
