.model-sticky {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: thin solid $gray-light;
  list-style: none;
  background: $white;
  justify-content: space-between;
  align-items: center;
  transition: all 250ms;


  @include media-breakpoint-down(md) {
    display: none;
  }

  .button {
    @include font-size(1.4rem);
    font-weight: bold;
    text-transform: uppercase;
  }
}

.model-sticky__name {
  @include font-size(1.8rem);
  font-weight: 300;

  strong {
    font-weight: bold;
  }
}

.model-sticky.js-is-sticky {
  right: 0;
  width: 100% !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.model-sticky__links {
  display: flex;
  align-items: center;
}

.model-sticky__link {
  @include font-size(1.4rem);
  display: inline-flex;
  padding: 0 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;
  align-items: center;

  &:hover {
    text-decoration: none;
    color: $black;
  }

  .icon {
    margin-right: 1rem;
  }
}
