/**
  Model hover component in the main navigation
 */

// Dropdown with models and categories
.models-hover {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9001;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-bottom: thin solid $gray-light;
  background: white;
  transform: translateX(-100%);
  transition: all 400ms $easeOutQuint;

  &.active {
    transform: translateX(0);
  }
}

// Category nav
.models-hover__nav {
  display: flex;
  width: 100%;
  min-height: 9.2rem;
  background: $black;
  align-items: stretch;
}

// Single category item
.models-hover__nav-item {
  @include font-size(2rem);
  display: flex;
  position: relative;
  padding: 1.2rem 0;
  line-height: 1.2;
  font-weight: 300;
  color: $white;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;

  // Hover / active line inactive state
  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    background: theme-color('primary');
    content: '';
    transition: all 100ms;
  }

  // Category name
  strong {
    @include font-size(2.6rem);
    display: block;
    font-weight: bold;
    text-transform: uppercase;
  }

  // Hover
  &:hover {
    text-decoration: none;
    color: $white;
  }

  // Show line on hover or active
  &:hover:after,
  &.active:after {
    height: 0.4rem;
  }
}

// Close icon
.models-hover__nav-close {
  @include font-size(1rem);
  display: flex;
  text-transform: uppercase;
  color: $white;
  align-items: center;
  flex: 0;
  justify-content: flex-end;

  .icon {
    margin-left: 1rem;
  }

  &:hover {
    color: $white;
  }
}


.models-hover__categories {

}

.models-hover__category {
  display: none;
  padding: 5rem 0;
  align-items: flex-start;

  &.active {
    display: flex;
  }
}


.models-hover__category-title {
  @include font-size(2rem);
  margin-top: 3rem;
  padding-right: 1rem;
  font-weight: 300;
  flex: 18% 0 0;

  strong {
    @include font-size(2.7rem);
    display: block;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.models-hover__category-content {
  flex: 85% 0 0;
}

.models-hover__link {
  display: flex;
  padding: 4rem 2rem;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 20% 0 0;

  .icon {
    margin-bottom: 1.5rem;
    transition: all 500ms $easeInOutQuart;
  }

  .icon:hover {
    transform: rotate(135deg);
  }
}

.models-hover__models {
  display: flex;
  margin-bottom: 7rem;
  flex-wrap: wrap;
}


.models-hover__model {
  padding: 2rem;
  flex: 20% 0 0;
  transition: all 300ms $easeOutQuint;

  &:hover {
    color: $button-color;
    background: theme-color('primary');
  }

  .model__image {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 66%;

    img {
      @extend .object-fit-cover;
      position: absolute;
      z-index: 0;
    }

    &--badge {
      height: 30%;
      width: 30%;
      position: absolute;
      right: 10%;
      top: 10%;

      img {
        position: static!important;
        height: 100%!important;
        width: 100%!important;
        object-fit: contain;
      }
    }
  }

  .model__title {
    @include font-size(2rem);
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .model__price-wrap {
    display: flex;
    align-items: baseline;
  }

  .price-label {
    @include font-size(1.4rem);
    margin-right: 1rem;
    color: $gray-dark;
    font-style: italic;
  }

  .model__price {
    @include font-size(1.6rem);
    font-weight: bold;
  }
}


