.model-categories {
  margin-top: 7.7rem;

  @include media-breakpoint-down(md) {
    overflow-x: hidden;
  }
}

.model-category {
  margin-bottom: 10rem;

  .model-thumbnail__advantage--top {
    display: none;
  }

  .cta {
    @extend .button;
    @extend .button--arrow;

    @include media-breakpoint-down(md) {
      display: none !important;
    }
  }
}

.model-category__header {
  display: flex;
  position: relative;
  width: 100%;
  height: 40rem;
  margin-bottom: 5rem;
  background: transparentize($black, 0.35);
  align-items: center;

  @include media-breakpoint-down(md) {
    height: 26rem;
  }

  img {
    @extend .object-fit-cover;
    position: absolute;
    z-index: -1;
  }

}

.model-category__copy {
  margin-left: 5vw
}

.model-category__subtitle {
  @include font-size(3rem);
  font-weight: 300;
  color: $white;
}

.model-category__title {
  @include font-size(3rem);
  font-weight: 300;
  text-transform: uppercase;
  color: $white;

  strong {
    @include font-size(5rem);
    display: block;
    margin: 1rem 0;
    font-weight: bold;
  }
}
