.newsletter {
  margin-top: 2rem;
  // transform: translateX(2.3rem);

  @include media-breakpoint-down(lg) {
    // transform: translateX(1rem);
  }

  input:focus {
    outline: none;
  }

  input[type="email"] {
    width: 100%;
    height: 5.4rem;
    padding: 1.4rem;
    border: thin solid theme-color('primary');
    transform: translateX(4rem);

    @include media-breakpoint-down(lg) {
      padding: 1.2rem;
    }

    @include media-breakpoint-down(md) {
      transform: none;
    }
  }

  input[type="button"],
  input[type="submit"] {
    @extend .button;
    display: table-cell;
    //transform: translateX(-3rem);
    width: 100%;
    border: 0;
    vertical-align: middle;
  }
}
