.news-filters {
  display: flex;
  border-bottom: thin solid $gray-lightish;
  align-items: center;

  @include media-breakpoint-down(md) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.news-filters__title {
  @include font-size(1.6rem);
  margin-right: 8rem;
  font-weight: 300;
}


.news-filters-items {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    align-items: flex-start;
    flex-direction: column;
  }

}

.news-filter {
  @include font-size(1.4rem);
  padding: 1rem 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;

  @include media-breakpoint-down(md) {
    padding: 1rem 0
  }

  &:hover {
    text-decoration: none;
  }
}
