.post-hero {
  display: flex;
  align-items: stretch;


}

.post-hero__inner {
  display: flex;
  margin-right: auto;
  margin-left: 5vw;
  padding: 3rem 0;
  flex: 30% 0 0;
  flex-direction: column;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    flex: 1;
  }
}

.post-hero__image {
  height: 50rem;
  flex: 55% 0 0;

  @include media-breakpoint-down(md) {
    display: none;
  }

  img {
    @extend .object-fit-cover;
  }
}

.post__back {
  @include font-size(1.4rem);
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;
  align-items: center;

  &:hover {
    text-decoration: none;
  }

  &:before {
    width: 1rem;
    height: 1.4rem;
    margin-right: 1.5rem;
    background: url('../images/#{$button-chevron}') center center no-repeat;
    content: '';
    transform: scale(0.8) rotate(180deg);
  }
}

.post__date {
  @include font-size(1.8rem);
  font-weight: 300;
}

.post__title {
  @include font-size(3.5rem);
  font-weight: bold;
}

.post__intro {
  @include font-size(4rem);
  margin-bottom: 5rem;
  line-height: 1.2;
  font-weight: 300;
}
