.price-box {
  border: thin solid $gray-lightish;

  @include media-breakpoint-down(md) {
    margin: 0;
  }

  .price__buy {
    padding: 5rem;

    @include media-breakpoint-down(md) {
      padding: 4rem 2rem 4rem 4rem
    }
  }

  .price__lease {
    padding: 5rem;
    background: theme-color('primary');

    @include media-breakpoint-down(md) {
      padding: 4rem 2rem 4rem 4rem
    }
  }

  .prices {
    display: flex;
    margin-bottom: 2rem;
  }

  .price__title {
    @include font-size(2.4rem);
    margin-bottom: 2rem;
  }

  .price__label {
    @include font-size(1.6rem);
    display: block;
    font-style: italic;
  }

  .price__now .price {
    @include font-size(4rem);
    font-weight: bold;
    white-space: nowrap;
  }

  .price__normal {
    margin-left: 3rem;
    white-space: nowrap;
  }

  .price__normal .price {
    @include font-size(2rem);
    font-weight: bold;
    white-space: nowrap;
  }

  .button {
    @include font-size(1.4rem);
    margin-top: 5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}
