.main .quicklinks {
  position: fixed;
  right: calc(6.25vw / 2 - 3.6rem);
  bottom: calc(6.25vw / 2 - 3.6rem);
  z-index: 20;
  width: 7.2rem;
  height: 7.2rem;
  background-color: theme-color('primary');
  cursor: pointer;
  background-size: auto 2.448rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.215254);
  transition: transform 300ms $easeInOutQuart;
  transform: scale(0.69);

  &::after {
    content: '';
    background-color: black;
    mask: url('../images/#{$icons-folder}/sticky-cta-dots.svg') no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
  }

  @include media-breakpoint-down(xl) {
    right: 0.85rem;
  }

  @include media-breakpoint-down(sm) {
    bottom: 5vh;
  }

  &.active {
    transform: scale(1);

    &::after {
      mask: url('../images/close.svg') no-repeat center;
    }

    .quicklinks__menu {
      display: block;
      opacity: 1;
    }
  }
}

.quicklinks:hover {
  transform: scale(1);
}


.quicklinks__menu {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.quicklinks__menu-items {
  display: flex;
  position: absolute;
  bottom: 100%;
  width: 100%;
  background: $black;
  flex-direction: column;
}

.quicklinks__menu-item {
  display: flex;
  width: 7.2rem;
  height: 7.2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 300ms $easeInOutQuart;
  color: white;

  &:hover {
    background: lighten($black, 10%);

    .quicklinks__menu-item-icon,
    .quicklinks__menu-item-title {
      color: white;
    }
  }
}

.quicklinks__menu-item-icon {
  margin-bottom: 1.3rem;
}

.quicklinks__menu-item-title {
  @include font-size(1rem);
  text-align: center;
}
