.service {
  padding-bottom: 6rem;
}

.service__thumbnail {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 70%;

  img {
    @extend .object-fit-cover;
    position: absolute;
  }
}

.service__inner {
  position: relative;
  padding-top: 4rem;

  .icon {
    position: absolute;
    top: 0;
    right: 3rem;
    width: 7.2rem;
    height: 7.2rem;
    transform: translateY(-50%);
  }
}

.service__title {
  @include font-size(2.6rem);
  margin-bottom: 3.5rem;
  font-weight: bold;
}

.service__text {
  @include font-size(2rem);
  padding-right: 6rem;
  color: $gray-dark;
}
