.splash-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#splash_Dacia {
  font-family: 'DaciaSpirit';
}

#splash_Renault {
  font-family: 'Renault Life';
}

.splash {
  display: flex;
  align-items: stretch;
  width: 100%;

  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: flex 0.5s ease-in-out;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    &:hover {
      flex: 4;
    }

    .splash__top {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      transition: filter 0.4s ease-in-out;
    }

    &.darken {
      .splash__top {
        filter: grayscale(0.7) brightness(0.6);
      }

      .arrow {
        opacity: 0;
      }
    }
  }

  &__media {
    height: 100%;
    width: 100%;
    overflow: hidden;

    & > * {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      min-width: 100%;
      object-fit: cover;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    min-width: 80vw;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__caption {
    padding: 4rem 4rem 4rem 10rem;

    span {
      font-weight: lighter;
      font-size: 18px;
    }

    h1 {
      font-weight: bolder;
      font-size: 45px;
    }

    h3 {
      font-weight: normal;
      font-size: 45px;
    }
  }

  &__brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    overflow: hidden;
    min-width: 30rem;
    padding: 5rem 5rem 5rem 10rem;
    background: white;
    height: 15rem;

    img {
      max-width: 15rem;
    }

    .arrow {
      border: 1px solid red;
      border-radius: 50%;
      height: 6rem;
      width: 6rem;
      padding: 1.5rem;
      transform: rotate(-90deg);
      transition: opacity .3s ease;

      .icon {
        width: 100%;
        height: 100%;
      }
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;

    &__top {
      min-height: 70vh;
    }

    &__bottom {
      flex-direction: column;
    }

    &__caption {
      padding: 3rem;
    }

    &__brand {
      width: 100%;
      padding: 3rem;
    }
  }
}
