/**
  Stock header, contains the active filters, count and sort
 */

.stock-header {
  display: flex;
  position: relative;
  margin-bottom: 3rem;
  padding: 3rem 0;
  background: $gray-lighter;
  align-items: center;

  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.stock-actions {
  display: flex;
  position: absolute;
  right: 2.5rem;
  z-index: 1040;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: flex-end;
}

.stock-action__compare {
  position: relative;
  margin-right: 1.7rem;
}

.stock-action__save {
  display: inline-flex;
  position: relative;
  width: 3.6rem;
  height: 3.6rem;
  border: thin solid #ccc;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.stock-action__save,
.stock-action__compare {
  .counter {
    display: flex;
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: $button-color;
    background: theme-color('primary');
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    &.pulse {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
      animation: pulse 750ms infinite;
      animation-iteration-count: 1
    }

    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 lighten(theme-color('primary'), 0.7);
      }

      20% {
        box-shadow: 0 0 0 0.5rem lighten(theme-color('primary'), 0.7);
      }

      100% {
        box-shadow: 0 0 0 0 lighten(theme-color('primary'), 0.7);
      }
    }
  }

}

.stock-action__save.active {
  background: $black;

  .icon--wishlist {
    background-image: url('../images/icon-wishlist-white.svg');
  }
}

.stock-action__compare.active {
  background: $black;

  .icon--compare {
    background-image: url('../images/icon-compare-white.svg');
  }
}

.stock-header__clear {
  @include font-size(1.6rem);
  display: inline-block;
  border-bottom: thin solid $gray-dark;
  font-weight: 300;
  cursor: pointer;
}

.stock-header__active-filters {
  margin-left: 3rem;

  @include media-breakpoint-down(md) {
    margin-left: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .facetwp-selection-label {
    display: none;
  }

  li[data-facet="saved"] {
    display: none;
  }

  .facetwp-selections .facetwp-selection-value {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 2rem;
    padding-right: 3.6rem;
    border: thin solid $black;
    background-image: url('../images/close.svg');
    background-position: center right 1.5rem;
    background-size: 1.2rem 1.2rem;
    border-radius: 5rem;
  }
}

.stock-header__total {
  @include font-size(3.5rem);
  margin-right: 4rem;
  margin-left: auto;
  font-weight: bold;

  @include media-breakpoint-down(md) {
    display: none;
  }

  .facetwp-facet {
    margin-bottom: 0;
  }
}

.stock-header__sort {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    display: none;
  }

  .facetwp-sort {
    padding: 1rem 1.8rem;
    border: thin solid $gray-lightish;
    background: transparent;
    border-radius: 0.4rem;
  }

  .facetwp-sort-select,
  .facetwp-sort-select:active,
  .facetwp-sort-select:focus {
    border: none;
    outline: none;
    background: none;
  }
}

.stock-header__sort-label {
  margin-right: 2rem;
  font-weight: bold;
}

.stock-actions-row {

  @include media-breakpoint-down(sm) {
    margin-right: -2rem;
    margin-left: -2rem;
    padding: 0 1rem 2rem;
    border-bottom: thin solid $gray-lightish;
  }
}

.stock-filters__mobile {
  display: none;

  .icon {
    margin-right: 1rem;
  }

  @include media-breakpoint-down(sm) {
    display: flex;
    cursor: pointer;
    align-items: center;
  }
}
