/**
  Stock filter and search module on the homepage
  Todo: Url actions
 */

.stock-box {
  display: flex;
  position: relative;
  z-index: 5;
  min-height: 46.7rem;
  padding: 6rem 0;
  color: $white;
  background: $black;
  transform: translateY(6rem);
  align-items: center;

  @include media-breakpoint-down(md) {
    padding: 6rem 2rem;
  }

  .row {
    // width: 100%;
  }
}

// Header brand
.stock-box__brand {
  @include font-size(2.4rem);
  display: block;
  width: 100%;
  margin-bottom: 0.6rem;
  font-weight: 300;
}

// Title
.stock-box__title {
  @include font-size(3.5rem);
  font-weight: bold;
}

// Car condition radio buttons
.stock-box__radios {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: flex-start;
  }
}

// Single radio button
.stock-box__radio {
  @include font-size(1.6rem);
  display: flex;
  position: relative;
  margin-right: 7.5rem;
  line-height: 1.15;
  font-weight: bold;
  align-items: center;

  @include media-breakpoint-down(md) {
    margin-bottom: 3rem;
  }

  &:before {
    display: block;
    width: 2rem;
    height: 2rem;
    margin-right: 3rem;
    border: 0.2rem solid #999;
    content: '';
    border-radius: 50%;
  }

  .icon {
    margin-right: 1.5rem;;
  }
}

.stock-box__radio.active {
  &:after {
    display: block;
    position: absolute;
    bottom: 60%;
    left: 0.5rem;
    width: 2rem;
    height: 2rem;
    margin-right: 3rem;
    border-color: $white;
    background-color: theme-color('primary');
    mask: url('../images/#{$icons-folder}/check.svg') no-repeat center;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    transform: translateY(20%) scale(2.5);
  }
}

// Dropdown selects
.stock-box__selects {
  display: flex;
  width: 100%;
  align-items: center;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: flex-start;
  }
}

// Single select
.stock-box__select {
  @include font-size(2rem);
  width: 32rem;
  margin-right: 3rem;
  font-weight: bold;
  color: $white;
  background: transparent;

  @include media-breakpoint-down(md) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .fs-search {
    display: none;
  }

  // Dropdown arrow
  .fs-arrow {
    right: 3.2rem;
    border-top-color: white;
  }

  .fs-option {
    padding: 1.3rem 1rem;
    border: 0;
    font-weight: normal;
    color: $black;
  }

  // FacetWP overrides
  .facetwp-facet {
    margin: 0;
  }

  .facetwp-type-fselect .fs-dropdown {
    width: 30rem;
    margin-top: 0;
    font-weight: 300;
    color: $black;
  }

  // Hide count
  .facetwp-counter {
    display: none;
  }

  .facetwp-type-fselect .fs-wrap {
    width: 100%;
  }

  .fs-label-wrap {
    width: 100%;
    border: thin solid $white;
    background: transparent;
    box-sizing: border-box;
  }

  .fs-label-wrap .fs-label {
    display: flex;
    height: 6rem;
    padding-left: 3.5rem;
    align-items: center;
  }
}

// Submit button
.stock-box__submit {

  @include media-breakpoint-down(md) {
    width: 100%;
  }

  .button {
    @include font-size(2rem);
    padding: 2rem 4rem;
    line-height: 1;
    font-weight: bold;

    @include media-breakpoint-down(md) {
      width: 100%;
      justify-content: center;
    }

    &:after {
      transform: translateX(180%);
    }
  }

  .facetwp-facet {
    margin: 0;
  }
}


