.stock-car {

}

.stock-step-wrap {
  display: flex;
  width: 100%;
  height: 6rem;
  color: $white;
  background: $black;
  align-items: stretch;
  justify-content: center;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.stock-steps {
  display: flex;
  margin: 0;
  padding: 0;
}

.stock-step {
  @include font-size(2.2rem);
  display: flex;
  margin: 0 2rem;
  padding: 0;
  list-style: none;
  font-weight: bold;
  align-items: center;

  &:before {
    display: inline-flex;
    width: 3.8rem;
    height: 3.8rem;
    margin-right: 2.2rem;
    content: '';
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &:after {
    display: inline-block;
    width: 3rem;
    height: 100%;
    margin-left: 4rem;
    background-image: url('../images/stock-step-divider.svg');
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
    background-size: auto 100%;
  }

  &:last-of-type:before {
    content: none;
  }
}

.stock-step.complete:before {
  border: thin solid #DDDFE7;
  background-image: url('../images/#{$icons-folder}/check.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% auto;
}

.stock-step.active:before {
  color: $black;
  background: theme-color('primary');
  content: '2';
}

.stock-step.final:before {
  border: thin solid #DDDFE7;
  color: $white;
  content: '3';
}


.stock-car__name {
  @include font-size(3.5rem);
  display: inline-block;
  font-weight: bold;
}

.stock-car__header {
  margin-left: 2rem;
  padding-left: 2rem;
  border-left: thin solid $gray-lightish;

  @include media-breakpoint-down(md) {
    margin-left: 1rem;
    padding-left: 0;
    border: none;
  }
}

.link.stock-back {
  padding-right: 1rem;
  @include media-breakpoint-down(md) {
    padding: 0;

    &:before {
      margin-right: 0 !important;
    }
  }

}

.stock-back-text {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.stock-car__type {
  @include font-size(2.5rem);
  display: inline-block;
  margin-left: 1.5rem;
  font-weight: bold;


  @include media-breakpoint-down(md) {
    display: block;
    margin-left: 0;
    color: $gray-dark;
  }
}

.stock-car__description {
  @include font-size(1.6rem);
  display: block;
  color: $gray-dark;


  @include media-breakpoint-down(md) {
    display: none;
  }
}

.stock-car__gallery {
  img {
    width: 100%;
  }

  .gallery-top {
    margin-bottom: 3.5rem;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 2rem;
  }

}

.stock-car__price-wrap {
  margin-bottom: 2rem;
}

.stock-car__price-label {
  @include font-size(1.6rem);
  font-style: italic;
}

.stock-car__price {
  @include font-size(4rem);
  font-weight: bold;
}

.stock-car__advantage {
  @include font-size(2.4rem);
  font-weight: bold;
}

.stock-car__specs {
  margin-bottom: 2rem;
}

.stock-car__spec {
  @include font-size(1.6rem);
  display: flex;
  margin-bottom: 1.5rem;
}

.stock-car__spec-label {
  margin-right: 1rem;
}

.stock-car__spec-value {
  font-weight: bold;
}

.stock-car__buttons {
  padding-bottom: 3rem;
  border-bottom: thin solid $gray-lightish;

  .button {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.stock-car__technical-specs {
  .table-striped tbody tr,
  .table th, .table td {
    border: none;
  }

  tr td:last-of-type {
    font-weight: bold;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #F6F7FB;
  }

}

.stock-car__concession-wrap {
  @include font-size(1.6rem);
  display: flex;
  padding: 5rem 0;
  border-bottom: thin solid $gray-lightish;
  align-items: center;

  .icon.icon--pin {
    width: 2.9rem;
    height: 3.9rem;
    margin-right: 3rem;
  }
}

.stock-car__concession {
  display: flex;
  align-items: center;
}

.stock-car__concession-dealer {
  margin-right: 1rem;
}

.stock-car__concession-name {
  margin-right: 1.5rem;
  font-weight: bold;
}

.stock-car__concession-phone {
  display: inline-flex;
  margin-right: 1rem;
  font-weight: bold;
  align-items: center;

  .icon {
    margin-right: 0.5rem;
  }
}

.stock-car__section-title {
  @include font-size(2.5rem);
  display: block;
  margin-bottom: 4.4rem;
  padding-bottom: 2rem;
  border-bottom: thin solid $gray-lightish;
  font-weight: bold;
  text-transform: uppercase;
}

.stock-car__options {

  .option-set-title {
    @include font-size(1.6rem);
    margin-top: 4.5rem;
    margin-bottom: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  ul {
    padding: 0;
    column-count: 2;
    @include media-breakpoint-down(md) {
      column-count: 1;
    }
  }

  li {
    display: flex;
    list-style: none;
    color: $gray-dark;
    align-items: baseline;
    page-break-inside: avoid;

    &:before {
      display: inline-block;
      width: 1.8rem;
      height: 1.3rem;
      margin-right: 1.3rem;
      background-image: url('../images/check-green.svg');
      background-repeat: no-repeat;
      content: '';
      background-size: contain;
      flex-shrink: 0;
    }
  }
}

.stock-car__specific-options {
  padding: 6rem 10rem 5rem;
  color: $button-color;
  background: theme-color('primary');

  @include media-breakpoint-down(md) {
    padding: 4rem;
  }

  ul {
    padding: 0;
    column-count: 3;

    @include media-breakpoint-down(md) {
      column-count: 1;
    }

  }

  li {
    display: flex;
    list-style: none;
    align-items: baseline;
    page-break-inside: avoid;

    &:before {
      display: inline-block;
      width: 1.8rem;
      height: 1.3rem;
      margin-right: 1.3rem;
      background-image: url('../images/#{$specs-check}');
      background-repeat: no-repeat;
      content: '';
      background-size: contain;
      flex-shrink: 0;
    }
  }

  .stock-car__section-title {
    margin-bottom: 3.2rem;
    padding: 0;
    border: none;
  }
}

.spec-title {
  display: flex;
  cursor: pointer;
  align-items: center;

  &:after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.85rem;
    margin-left: auto;
    background-image: url('../images/chevron-right.svg');
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
    background-size: contain;
    transform: rotate(-90deg);
  }

  &.collapsed:after {
    transform: rotate(90deg);
  }
}

.stock-car__carpass {
  display: block;
  margin: 3rem 0;

  img {
    max-width: 20rem;
  }
}
