/**
  Stock filters (checkboxes, radios, sliders, ...)
 */

.stock-filters {
  padding-right: 4rem;

  @include media-breakpoint-down(sm) {
    display: none;
  }


  .facetwp-checkbox {
    @include font-size(1.6rem);
    padding-left: 2.6rem;
    background: url('../images/checkbox.svg') 0 50% no-repeat;
    background-size: 1.8rem 1.8rem;
  }

  .facetwp-checkbox.checked {
    background-image: url('../images/checkbox-on.svg');
  }

  .facetwp-type-slider {
    display: flex;
    flex-direction: column;
  }

  .facetwp-slider-label {
    margin-bottom: 1rem;
    order: -1;
  }

  .facetwp-slider-reset {
    @extend .button;
    @extend .button--ghost;
    @extend .button--small;
  }

  .noUi-horizontal {
    height: 0.4rem;
  }

  .noUi-horizontal .noUi-handle {
    top: -0.8rem;
    width: 1.6rem;
    height: 1.6rem;
    border: 0;
    background: $black;
    border-radius: 50%;
  }

  .stock-filter__title {
    @include font-size(1.6rem);
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem 0;
    border-bottom: thin solid $gray-lightish;
    font-weight: bold;
    align-items: center;

    &:after {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-right: 0.85rem;
      margin-left: auto;
      background-image: url('../images/chevron-right.svg');
      background-repeat: no-repeat;
      background-position: center center;
      content: '';
      background-size: contain;
      transform: rotate(-90deg);
    }

    &.collapsed:after {
      transform: rotate(90deg);
    }
  }

}
