/**
  List of available stock cars
 */

// List of items
.stock-list {

}

.facetwp-template {

  .stock-item {
    position: relative;
    transition: all 400ms $easeOutCubic;
  }

  .stock-item:after {
    @extend .loading-pulse;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
    opacity: 0;
    content: '';
    transition: opacity 400ms $easeOutCubic;
  }

  &.loading {
    .stock-item {
      box-shadow: none !important;
    }

    .stock-item:after {
      z-index: 5;
      opacity: 1;
      transition: opacity 400ms $easeOutCubic, z-index 0 step-start;
    }
  }

  // Stock car box
  .stock-item {
    display: flex;
    margin-bottom: 2rem;
    padding: 3.5rem 5rem;
    background: $white;
    transition: all 200ms $easeOutCubic;
    box-shadow: 0 5px 15px rgba(173, 176, 188, 0.2);
    border-radius: 0.5rem;

    @include media-breakpoint-down(md) {
      padding: 2rem;
    }

    &:hover {
      box-shadow: 0px 5px 15px rgba(173, 176, 188, 0.3);

    }

    .row {
      width: 100%;
    }

    .icon-link {
      @include font-size(1.3rem);

      @include media-breakpoint-down(md) {
        display: inline-flex;
        font-size: 0;
      }
    }
  }

  // Badge
  .stock-item__badge {
    @include font-size(1.1rem);
    display: flex;
    position: absolute;
    top: -1.3rem;
    right: -2rem;
    width: 7.8rem;
    height: 7.8rem;
    font-weight: bold;
    color: $white;
    background: #E35205;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }

  // Ribbon
  .stock-item__ribbon {
    @include font-size(1.3rem);
    position: absolute;
    top: -1.3rem;
    left: 0;
    height: 5.2rem;

  }

  .stock-item__ribbon-inner {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    line-height: 1.1;
    color: $white;
    background: #01B5D8;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    strong {
      @include font-size(1.6rem);
      display: block;
      font-weight: bold;
    }

    &:after {
      display: block;
      position: absolute;
      top: 0;
      left: 100%;
      width: 2rem;
      height: 100%;
      padding: 0 2rem;
      border-top: 2.6rem solid transparent;
      border-bottom: 2.6rem solid transparent;
      border-left: 2rem solid #01B5D8;
      background: transparent;

      content: '';
    }
  }

  // Thumbnail
  .stock-item__image {
    display: block;
    overflow: hidden;
    margin-bottom: 2rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  .stock-item__advantage {
    @include font-size(1.8rem);
    font-weight: bold;
  }

  .stock-item__header {
    display: flex;
    margin-bottom: 1.3rem;
    padding-bottom: 1.3rem;
    border-bottom: thin solid $black;
    flex-wrap: wrap;

    @include media-breakpoint-down(md) {
      border: none;
    }
  }

  .stock-item__name {
    padding-right: 2rem;
    flex: 50% 1 1;

    @include media-breakpoint-down(md) {
      flex: 100% 1 1;
    }

  }

  .stock-item__title {
    @include font-size(3.5rem);
    font-weight: bold;
  }

  .stock-item__subtitle {
    @include font-size(1.6rem);
    font-weight: bold;
    color: $gray-dark;
  }

  .stock-item__price-wrap {
    margin-left: auto;
    padding-left: 1rem;
    text-align: right;


    @include media-breakpoint-down(md) {
      margin-left: 0;
      padding-left: 0;
      text-align: left;
    }
  }

  .stock-item__price-label {
    @include font-size(1.6rem);
    display: block;
    margin-bottom: 0.5rem;
    color: $gray-dark;
    font-style: italic;
  }

  .stock-item__price {
    @include font-size(2.5rem);
    font-weight: bold;
  }

  .stock-item__features {
    @include font-size(1.6rem);
    margin-bottom: 1.5rem;
    color: $gray-dark;
  }

  .stock-item__specs {
    @include font-size(1.6rem);
    color: $gray-dark;

    strong {
      font-weight: bold;
      color: $black;
    }

  }

  .stock-item__spec {
    display: flex;
    margin-bottom: 0.5rem;
  }

  .stock-item__contact {
    @include font-size(1.6rem);
    color: $gray-dark;
  }

  .stock-item__concession,
  .stock-item__phone {
    display: flex;
    margin-top: 0.5rem;
    font-weight: bold;
    color: $black;
    align-items: center;

    .icon-wrap {
      width: 2.4rem;
      height: 2.4rem;
      border: thin solid $gray-lightish;
    }
  }

  .saved .icon-link__save .icon-wrap-square {
    background: $black;

    .icon--wishlist {
      background-image: url('../images/icon-wishlist-white.svg');
    }
  }

  .compared .icon-link__compare .icon-wrap-square {
    background: $black;

    .icon--compare {
      background-image: url('../images/icon-compare-white.svg');
    }
  }
}


