.stock-car__gallery {
  .gallery-thumbs .swiper-slide {
    cursor: pointer;

  }

  .gallery-slide__link {
    display: block;
    position: relative;
  }

  .icon {
    display: inline-flex;
    position: absolute;
    right: 4rem;
    bottom: 4rem;
    align-items: center;

    &::before {
      @include font-size(2rem);
      display: block;
      position: absolute;
      left: -11rem;
      font-weight: bold;
      color: white;
      content: 'Play Video';
    }
  }
}

.gallery-thumbs .icon--video {
  right: 0;
  bottom: 0;
  transform: scale(0.5);
}
