.thumbnail-slider {
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  padding-bottom: 1rem;

  .swiper-wrapper {
    width: 100%;
  }

  .swiper-navigation {
    display: flex;
    position: relative;
    width: 100%;
    padding: 5rem 0;
    align-items: center;
    justify-content: center;
  }

  .swiper-pagination {
    height: 1px;
    margin-right: 5%;
    flex: 100% 0 1;
  }

  .swiper-pagination-progressbar-fill {
    background: $black !important;
  }

  .slider__arrows {
    margin-right: 0;
    display: flex;
  }
}

/**
  Versions slider (model page)
 */
.version-slider-wrap {
  background: $gray-light;


  .version-slider, {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .version-slider__title {
    @include font-size(3.5rem);
    margin-bottom: 3rem;
    font-weight: bold;
    text-align: center;
    color: $black;


    @include media-breakpoint-down(md) {
      margin-bottom: 2rem;
    }
  }

  .car-slide {
    display: flex;
    height: auto;
    padding: 2rem 6rem 6rem;
    background: $white;
    flex-direction: column;
    justify-content: stretch;
  }

  .model-thumbnail__inner {
    display: flex;
    position: relative;
    flex: auto;
    flex-direction: column;

    .link {
      margin-top: auto;
    }
  }
}

/**
    Stock slider (Model page)
 */
.stock-slider-wrap {
  background: $black;

  .button {
    @include font-size(2rem);
    padding: 2.2rem 7.2rem;

    @include media-breakpoint-down(md) {
      padding: 1.7rem 3.4rem;
    }
  }

  .model-thumbnail__image {
    display: block;
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 66%;

    &:hover {
      img {
        transform: scale(1.02);
      }
    }

    img {
      @extend .object-fit-cover;
      position: absolute;
      transition: all 400ms $easeOutCubic;
    }
  }

  .stock-slider__header {
    display: flex;
    margin-bottom: 6rem;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .stock-slider__title {
    @include font-size(3.5rem);
    margin-right: auto;
    font-weight: bold;
    color: $white;

    @include media-breakpoint-down(md) {
      margin-bottom: 2rem;
    }

  }

  .car-slide {
    display: flex;
    height: auto;
    background: $white;
    flex-direction: column;
    justify-content: stretch;
  }

  .model-thumbnail__inner {
    display: flex;
    position: relative;
    padding: 5rem 3rem;
    flex: auto;
    flex-direction: column;

    .link {
      margin-top: auto;
    }

    .icon {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .stock-slider, {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .swiper-pagination {
    background: $gray-dark;
  }

  .swiper-pagination-progressbar-fill {
    background: $white !important;
  }
}

/**
  Gallery slider
 */
.gallery-slider-wrap {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  overflow-x: hidden;

  .swiper-navigation {
    width: 80%;
    margin: 0 auto;
  }

  .gallery-slider__title {
    @include font-size(3.5rem);
    margin-bottom: 23rem;
    font-weight: bold;
    color: $black
  }

  .gallery-slide {


    a {
      display: block;
      position: relative;
      margin-bottom: 1.5rem;
    }

    img {
      width: 100%;
    }

    .icon {
      display: inline-flex;
      position: absolute;
      right: 4rem;
      bottom: 4rem;
      align-items: center;

      &::before {
        @include font-size(2rem);
        display: block;
        position: absolute;
        left: -11rem;
        font-weight: bold;
        color: white;
        content: 'Play Video';
      }
    }
  }

  .gallery-slide:nth-of-type(4n+4) {
    transform: translateY(25%);

  }

  .gallery-slide:nth-of-type(4n+3) {
    transform: translateY(-15%);

  }

  .gallery-slide:nth-of-type(4n+2) {
    transform: translateY(0);
  }

  .gallery-slide:nth-of-type(4n+1) {
    transform: translateY(50%);
  }
}


.fr-thumbnail.fr-thumbnail-active {
  border: 2px solid theme-color('primary');
}
