.topbar {
  display: flex;
  height: 4rem;
  padding: 0 3.75vw;
  color: $white;
  background: $topbar-background;
  align-content: center;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  a {
    @include font-size(1.5rem);
    color: $white;

    &:hover {
      text-decoration: none;
    }
  }

  .social-link {
    margin: 0 1rem;
  }
}

.topbar__nav {
  margin-right: auto;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    margin-right: 2rem;
  }
}

// Padding on every section
.topbar__nav,
.topbar__social,
.topbar__languages,
.topbar__discover {
  display: flex;
  align-items: center;
}

// Border left on right sections
.topbar__social,
.topbar__languages {
  padding: 0 3.5rem;
}

.topbar__social,
.topbar__languages,
.topbar__discover {
  border-left: thin solid $topbar-border-color;
}

.topbar__discover {
  padding-left: 3.5rem;
}

// Only show current language
.topbar__languages {

  .language {
    display: none;
  }

  .language--active {
    display: block;
  }
}


