.wrap {
  padding-right: 6.25vw;
  padding-left: 6.25vw;

  @include media-breakpoint-down(lg) {
    padding-right: 2vw;
    padding-left: 2vw;
  }

  @include media-breakpoint-down(md) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
