.badge {
  display: flex;
  width: 8rem;
  height: 8rem;
  background: $orange;
  border-radius: 50%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.badge__light {
  @include font-size(1.2rem);
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  color: $white;
}

.badge__bold {
  @include font-size(1.6rem);
  display: block;
  font-weight: bold;
  color: $white;

  @include media-breakpoint-down(md) {
    @include font-size(1.2rem);
  }
}
