// Default button
.button {
  @include font-size($button-fonts-size);
  display: inline-flex;
  position: relative;
  padding: 2rem 2.7rem;
  line-height: 1;
  font-weight: $button-font-weight;
  text-transform: $button-text-transform;
  white-space: nowrap;
  color: $button-color;
  background: theme-color('primary');
  align-items: center;
  transition: all 200ms;
  border-radius: $button-border-radius;
  box-shadow: none;
  flex-shrink: 0;
  box-sizing: border-box;

  &:hover {
    text-decoration: none;
    color: $button-color;
    background: lighten(theme-color('primary'), 10%);
  }
}

.button.button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

// Button without background
.button--ghost {
  border: thin solid $button-ghost-border;
  color: $button-ghost-color;
  background: none;
  border-radius: $button-border-radius;

  &:hover {
    background: theme-color('primary');
  }
}

.button--ghost-light {
  outline-color: #DDDFE7;
}

// Button with white border and text to be used on backgrounds
.button--inverse {
  outline: thin solid $white;
  color: $white;
  background: none;

  &:hover {
    background: theme-color('primary');
  }
}


.button.button--big {
  @include font-size(2rem);
  padding: 2rem 8rem;
  line-height: 1;
  font-weight: bold;

  @include media-breakpoint-down(md) {
    padding: 1.7rem 3.2rem;
  }
}

.button.button--med {
  @include font-size(2rem);
  padding: 2rem 6.6rem;
  line-height: 1;
  font-weight: bold;

  @include media-breakpoint-down(md) {
    padding: 1.7rem 3.2rem 1.7rem 2.5rem;
  }
}


.button--small {
  padding: 1rem 1.7rem;
}

.button__before {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.button__before--contact {
  background-image: url('../images/#{$button-contact-icon}');
}

.button__before--mail {
  background-image: url('../images/#{$button-mail-icon}');
}


.button--arrow {
  position: relative;
  padding-right: 5.5rem;

  &:after {
    width: 1rem;
    height: 1.4rem;
    background-color: currentColor;
    mask: url('../images/#{$button-chevron}') center center no-repeat;
    content: '';
    transform: translateX(300%);

    @include media-breakpoint-down(md) {
      transform: translateX(180%);
    }
  }
}

.button--arrow-brand {

  &:after {
    right: 2.7rem;
    width: 1rem;
    height: 1.4rem;
    margin-left: 1.5rem;
    background: url('../images/#{$icons-folder}/icon-chevron-brand.svg') center center no-repeat;
    content: '';
  }
}

.button--calendar {
  @include font-size(2rem);
  padding: 2rem 5.8rem;
  line-height: 1;
  font-weight: bold;

  &:after {
    width: 2.3rem;
    height: 2.7rem;
    margin-left: 3.5rem;
    background: url('../images/#{$icons-folder}/icon-calendar.svg') center center no-repeat;
    content: '';
    background-size: 100% auto;
  }

  @include media-breakpoint-down(md) {
    padding: 1.7rem 3.2rem;
  }
}

.button--arrow.button--arrow-back {

  &:after {
    content: none;
  }

  &:before {
    width: 1rem;
    height: 1.4rem;
    margin-right: 1.5rem;
    background: url('../images/#{$button-chevron}') center center no-repeat;
    content: '';
    transform: rotate(180deg);
  }
}
