.concession-info {
  @include font-size(1.8rem);
  display: flex;
  flex-wrap: wrap;
}

.concession-info__title {
  font-weight: bold;
}

.concession-info__contact {
  margin-bottom: 6rem;
  flex: 50% 1 0;
}

.concession-info__phone {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;

  .icon {
    display: inline-block;
    width: 1.2rem;
    height: 1.9rem;
    margin-right: 1rem;
  }
}

.concession-info__opening-hours {
  flex: 100% 0 0;
}

.concession-info__buttons {
  flex: 100% 0 0;
}

.concession-info__social {


  .social-link {
    margin: 0 1rem 0 0;
  }
}

.concession-info__icons {
  display: flex;
  margin-left: auto;
  flex: 40% 0 1;
  justify-content: flex-end;
  align-items: flex-start;

  @include media-breakpoint-down(md) {
    margin-bottom: 2rem;
    margin-left: 0;
    flex: 1;
    justify-content: flex-start;
  }

  .concession-info__icon {
    @include font-size(1.3rem);
    display: flex;
    margin-left: 2rem;
    font-weight: bold;
    text-align: center;
    color: #999;
    flex-direction: column;
    align-items: center;


    @include media-breakpoint-down(md) {
      margin-right: 2rem;
      margin-left: 0;
    }
  }

  .icon {
    display: flex;
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.5rem;
    text-indent: 0;
  }
}

.opening-hours__link {
  @include font-size(1.8rem);
  display: flex;
  padding-bottom: 0.5rem;
  border-bottom: thin solid $black;
  color: $black;
  align-items: center;
  transition: all 250ms;

  &.collapsed {
    border-color: $gray-lightish;
    color: $black;
  }

  &:hover {
    border-color: $black;
    text-decoration: none;
    color: $black;
  }

  &:after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.85rem;
    margin-left: auto;
    background-image: url('../images/chevron-right.svg');
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
    background-size: contain;
    transform: rotate(-90deg);
  }

  &.collapsed:after {
    transform: rotate(90deg);
  }
}

.opening-hours__table {
  padding: 1.5rem 0;

  thead {
    @include font-size(1.8rem);
    font-weight: bold;
  }

  table {
    @include font-size(1.4rem);
  }

  tr td:first-of-type {
    width: 30%;
  }

  .today {
    font-weight: bold;
  }
}

