.energy-label {
  display: inline-block;
  width: 4.3rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.energy-label--a-plus {
  background-image: url('../images/energy-labels/a-plus.png');
}

.energy-label--b {
  background-image: url('../images/energy-labels/b.png');
}

.energy-label--c {
  background-image: url('../images/energy-labels/c.png');

}

.energy-label--d {
  background-image: url('../images/energy-labels/d.png');

}

.energy-label--e {
  background-image: url('../images/energy-labels/e.png');

}

.energy-label--f {
  background-image: url('../images/energy-labels/f.png');

}
