.pre {
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.pre--contact {
  background-image: url('../images/icon-phone.svg');
}

.pre--mail {
  background-image: url('../images/icon-mail.svg');
}

.pre--search {
  background-image: url('../images/icon-search.svg');
}

a.icon {
  display: block;
  text-indent: -9001rem;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-color: currentColor;
}

.icon--close-white {
  width: 2rem;
  height: 2rem;
  mask: url('../images/close-white.svg') no-repeat center;
  mask-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icon-wrap {
  display: flex;
  width: 3.7rem;
  height: 3.7rem;
  margin-right: 1rem;
  background: white;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex: auto 0 0;
}

.icon-wrap-square {
  display: flex;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  border: thin solid #DDDFE7;
  align-items: center;
  justify-content: center;
  flex: auto 0 0;

  .icon {
    flex: 80% 0 0;
  }
}

.icon--home {
  display: block;
  width: 2rem;
  height: 2rem;
  mask: url('../images/icon-home.svg') no-repeat center;
  mask-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icon--plus {
  position: relative;
  width: 6rem;
  height: 6rem;
  background: url('../images/#{$icons-folder}/icon-plus.svg') transparent no-repeat center center !important;
  background-size: 100% 100% !important;
  background-position: center center !important;
}

.icon--atelier {
  position: relative;
  width: 7.2rem;
  height: 7.2rem;
  background: url('../images/#{$icons-folder}/icon-atelier.svg') transparent no-repeat center !important;
  background-size: 100% 100%;
}

.icon--contact {
  position: relative;
  width: 6rem;
  height: 6rem;
  background: url('../images/#{$icons-folder}/icon-phone.svg') transparent no-repeat center !important;
  background-size: 100% 100%;
}

.icon--mail-white {
  position: relative;
  width: 2.2rem;
  height: 2rem;
  // mask: url('../images/#{$icons-folder}/icon-contact.svg');
  mask: url('../images/icon-mail-white.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: 100% 100%;
}

.icon--directions {
  position: relative;
  width: 6rem;
  height: 6rem;
  background: url('../images/#{$icons-folder}/icon-directions.svg') transparent no-repeat center !important;
  background-size: 100% 100%;
}

.icon--location {
  position: relative;
  width: 6rem;
  height: 6rem;
  background: url('../images/#{$icons-folder}/icon-location.svg') transparent no-repeat center !important;
  background-size: 100% 100%;
}

.icon--phone {
  position: relative;
  width: 1.2rem;
  height: 1.9rem;
  mask: url('../images/icon-phone.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: 100% 100%;
}

.icon--pin {
  position: relative;
  width: 1rem;
  height: 1.3rem;
  mask: url('../images/icon-pin.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: 100% 100%;
}

.icon--mail {
  position: relative;
  width: 1.7rem;
  height: 1.2rem;
  mask: url('../images/icon-mail.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: 100% 100%;
}

.icon--down {
  position: relative;
  width: 6rem;
  height: 6rem;
  background: url('../images/#{$icons-folder}/icon-down.svg') transparent no-repeat center !important;
  background-size: 100% 100%;
}

.icon--accessoires {
  position: relative;
  width: 6rem;
  height: 6rem;
  background: url('../images/#{$icons-folder}/icon-accessoires.svg') transparent no-repeat center !important;
  background-size: 100% 100%;
}

.icon--meter {
  position: relative;
  width: 6rem;
  height: 6rem;
  background: url('../images/#{$icons-folder}/icon-meter.svg') transparent no-repeat center !important;
  background-size: 100% 100%;
}

.icon--oil {
  position: relative;
  width: 6rem;
  height: 6rem;
  background: url('../images/#{$icons-folder}/icon-oil.svg') transparent no-repeat center !important;
  background-size: 100% 100%;
}

.icon--car {
  position: relative;
  width: 6rem;
  height: 6rem;
  background: url('../images/#{$icons-folder}/icon-car.svg') transparent no-repeat center !important;
  background-size: 100% 100%;
}

.icon--car-new {
  position: relative;
  width: 3.8rem;
  height: 3.4rem;
  mask: url('../images/icon-car-new.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: 100% 100%;
}

.icon--car-demo {
  position: relative;
  width: 3.7rem;
  height: 3.2rem;
  mask: url('../images/icon-car-demo.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: 100% 100%;
}

.icon--car-used {
  position: relative;
  width: 4.8rem;
  height: 4.8rem;
  mask: url('../images/icon-car-used.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: 100% 100%;
}

.icon--arrow {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: thin solid theme-color('primary');
  mask: url('../images/arrow-down.svg') no-repeat center;
  mask-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40% auto;
  border-radius: 50%;
}

.icon--arrow.icon--arrow-dark {
  mask: url('../images/arrow-down-black.svg') no-repeat center;
  mask-size: 100% 100%;
}

.icon--arrow-down {
  // Default image
  display: inline-block;
}

.icon--arrow-up {
  transform: rotate(-180deg);
}

.icon--arrow-right {
  transform: rotate(-90deg);
}

.icon--arrow-left {
  transform: rotate(90deg);
}

.icon--brochure {
  width: 2.1rem;
  height: 2.7rem;
  mask: url('../images/icon-brochure.svg') no-repeat center;
  mask-size: 100% 100%;
}

.icon--wheel {
  width: 2.7rem;
  height: 2.7rem;
  mask: url('../images/icon-wheel.svg') no-repeat center;
  mask-size: 100% 100%;
}

.icon--wishlist {
  width: 1.7rem;
  height: 1.5rem;
  mask: url('../images/icon-wishlist.svg') no-repeat center;
  mask-size: 100% 100%;
}

.icon--wishlist-white {
  width: 1.7rem;
  height: 1.5rem;
  mask: url('../images/icon-wishlist-white.svg') no-repeat center;
}

.icon--compare {
  width: 1.9rem;
  height: 1.9rem;
  mask: url('../images/icon-compare.svg') no-repeat center;
  mask-size: 100% 100%;
}

.icon--compare-white {
  width: 1.9rem;
  height: 1.9rem;
  mask: url('../images/icon-compare-white.svg') no-repeat center;
  mask-size: 100% 100%;
}

.icon--calculator {
  width: 1.7rem;
  height: 2.3rem;
  mask: url('../images/icon-calculator.svg') no-repeat center;
  mask-size: 100% 100%;
}

.icon--pig {
  width: 2.7rem;
  height: 2.4rem;
  mask: url('../images/icon-pig.svg') no-repeat center;
  mask-size: 100% 100%;
}

.icon--search {
  width: 2.2rem;
  height: 2.2rem;
  mask: url('../images/icon-search.svg') no-repeat center;
  mask-size: 100% 100%;
}

.icon--stock {
  width: 3.3rem;
  height: 3.3rem;
  mask: url('../images/icon-stock.svg') no-repeat center;
  mask-size: 100% 100%;
}

.icon--video {
  width: 7.4rem;
  height: 7.4rem;
  mask: url('../images/icon-video.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: cover;
}


.icon--print {
  width: 2.6rem;
  height: 3rem;
  mask: url('../images/icon-print.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: contain;
}


.icon--share {
  width: 2.7rem;
  height: 2.7rem;
  mask: url('../images/icon-share.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: contain;
}

.icon-link {
  @include font-size($button-fonts-size);
  display: flex;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  align-items: center;
}

.icon--service-white {
  width: 2.1rem;
  height: 1.9rem;
  mask: url('../images/icon-service-white.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: contain;
}

.icon--offers-white {
  width: 2.55rem;
  height: 2.1rem;
  mask: url('../images/icon-offers-white.svg') no-repeat center;
  mask-size: 100% 100%;
}

.icon--wheel-white {
  width: 2.1rem;
  height: 2.1rem;
  mask: url('../images/icon-wheel-white.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: contain;
}

.icon--configur-white {
  width: 1.9rem;
  height: 2.1rem;
  mask: url('../images/icon-configur-white.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: contain;
}

.icon--meet-white {
  width: 2.1rem;
  height: 1.9rem;
  mask: url('../images/icon-meet-white.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: contain;
}

.icon--pin-white {
  width: 1.2rem;
  height: 1.7rem;
  mask: url('../images/icon-pin-white.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: contain;
}

.icon--filter {
  width: 2rem;
  height: 2rem;
  mask: url('../images/icon-filter.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: contain;
}

.icon--chat-white {
  width: 2rem;
  height: 2rem;
  mask: url('../images/icon-chat.svg') no-repeat center;
  mask-size: 100% 100%;
  background-size: contain;
}
