.link {
  @include font-size($button-fonts-size);
  display: flex;
  position: relative;
  font-weight: $button-font-weight;
  text-transform: $button-text-transform;
  color: $black;
  align-items: center;
}

.link--arrow {
  @extend .button--arrow;
  padding-right: 5rem;
}

.link--arrow-back {
  @extend .button--arrow-back;
}

.link--arrow-brand {
  @extend .button--arrow-brand;
}
