.model-thumbnail {
  display: block;
  position: relative;
  z-index: 0;
  margin-bottom: $grid-gutter-width;
  padding: 1.6vw;
  color: $black;
  transition: all 250ms;

  .button {
    max-width: 100%;
    margin-top: 3rem;
    opacity: 0;
  }


  &:hover {
    text-decoration: none;
    color: $black;
    background: $gray-light;
  }

  &:hover .button {
    opacity: 1;
  }
}

.model-thumbnail__badge {
  position: absolute;
  top: 3rem;
  right: 3rem;
  z-index: 5;

  @include media-breakpoint-down(md) {
    top: 0;
    right: 0;
  }
}

.model-thumbnail__image {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 66%;

  img {
    @extend .object-fit-contain;
    position: absolute;
    z-index: 0;
  }
}

.model-thumbnail__name {
  @include font-size(2.3rem);
  margin-bottom: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.model-thumbnail__price-label {
  @include font-size(1.6rem);
  display: block;
  font-weight: normal;
  white-space: nowrap;
  color: $gray-dark;
  font-style: italic;
}


.model-thumbnail__old-price {
  @extend .line-through;
  @include font-size(2rem);
  display: inline-block;
  font-weight: bold;
  color: $gray-dark;
}


.model-thumbnail__current-price {
  @include font-size(2.5rem);
  font-weight: bold;
}


.model-thumbnail__advantage {
  @include font-size(1.8rem);
  margin-top: 1.5rem;
  font-weight: bold;
}

.model-thumbnail__description {
  @include font-size(1.6rem);
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  color: $gray-dark;

  ul {
    padding-left: 1.6rem;
  }

  li {
    margin-bottom: 1rem;
  }
}
