
.opening-hours-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 9001;
  width: 48rem;
  padding: 3rem;
  background: white;
  flex-wrap: wrap;
  transform: translateX(-50%);
  transition: all 200ms;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &:before {
    position: absolute;
    top: -1rem;
    left: 50%;
    width: 0;
    height: 0;
    border-right: 1.5rem solid transparent;
    border-bottom: 1rem solid $white;
    border-left: 1.5rem solid transparent;
    content: '';
    transform: translateX(-50%);
  }

  .opening-hours__table {
    padding-top: 0;
  }


  .opening-hours__set {
    flex: 0 0 50%;
  }
}
