.share {
  position: relative;
  cursor: pointer;

  &:hover {
    .share__links {
      display: flex;
    }
  }
}

.share__links {
  display: none;
  position: absolute;
  top: 40%;
  right: 100%;
  height: 7rem;
  margin-right: 1.5rem;
  padding: 0 2rem;
  background: $white;
  transform: translateY(-50%);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 25px rgba(31, 37, 50, 0.15);

  &:after {
    position: absolute;
    right: -1.5rem;
    width: 0;
    height: 0;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-left: 1.5rem solid white;
    content: '';
  }
}

.share-link {
  display: block;
  top: 0;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.share-facebook {
  background-image: url('../images/share-facebook.svg');
}

.share-mail {

}

.share-linkedin {
  background-image: url('../images/share-linkedin.svg');
}

.share-twitter {
  background-image: url('../images/share-twitter.svg');
}
