.social-links {
  display: flex;
  align-content: center;
}

.social-link {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 2rem;
  text-indent: -9001rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  background-color: currentColor;
}

.black-circle {
  padding: 1.3rem;
  border: thin solid currentColor;
  border-radius: 50%;
  background-size: auto 50%;
}


.facebook {
  mask: url('../images/facebook-black.svg') no-repeat center;
}

.instagram {
  mask: url('../images/instagram-black.svg') no-repeat center;
}

.linkedin {
  mask: url('../images/linkedin-black.svg') no-repeat center;
}

.twitter {
  mask: url('../images/twitter-black.svg') no-repeat center;
}
