.team-card {
  height: 100%;
  padding: 5rem 6rem;
  background: $gray-lighter;
  transition: all 200ms;

  &:hover {
    background: theme-color('primary');
  }
}

.team-card__image {
  display: block;
  width: 12rem;
  height: 12rem;
  overflow: hidden;
  margin: 0 auto 3rem;
  border-radius: 50%;

  img {
    @extend .object-fit-cover;
  }
}

.team-card__name {
  @include font-size(2.2rem);
  margin-bottom: 1rem;
  font-weight: bold;
}

.team-card__job {
  @include font-size(1.4rem);
  margin-bottom: 2rem;
  color: $gray-dark;
}

.team-card__phone {
  @include font-size(2rem);
  display: flex;
  margin-bottom: 1rem;
  color: $black;
  align-items: center;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.team-card__email {
  @include font-size(2rem);
  display: flex;
  color: $black;
  align-items: center;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
