@font-face {
	font-family:'Renault Life';
	src:	url('RenaultLife-Light.woff2') format('woff2'),
			url('RenaultLife-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family:'Renault Life';
	src:	url('RenaultLife-LightItalic.woff2') format('woff2'),
			url('RenaultLife-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family:'Renault Life';
	src:	url('RenaultLife-Italic.woff2') format('woff2'),
			url('RenaultLife-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family:'Renault Life';
	src:	url('RenaultLife-Regular.woff2') format('woff2'),
			url('RenaultLife-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:'Renault Life';
	src:	url('RenaultLife-Bold.woff2') format('woff2'),
			url('RenaultLife-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family:'Renault Life';
	src:	url('RenaultLife-BoldItalic.woff2') format('woff2'),
			url('RenaultLife-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

