@font-face {
    font-family: 'Renault Life';
    src: url('RenaultLife-Italic.woff2') format('woff2'),
        url('RenaultLife-Italic.woff') format('woff'),
        url('RenaultLife-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Renault Life';
    src: url('RenaultLife-BoldItalic.woff2') format('woff2'),
        url('RenaultLife-BoldItalic.woff') format('woff'),
        url('RenaultLife-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Renault Life';
    src: url('RenaultLife-Bold.woff2') format('woff2'),
        url('RenaultLife-Bold.woff') format('woff'),
        url('RenaultLife-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Renault Life';
    src: url('RenaultLife.woff2') format('woff2'),
        url('RenaultLife.woff') format('woff'),
        url('RenaultLife.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Renault Life';
    src: url('RenaultLife-Light.woff2') format('woff2'),
        url('RenaultLife-Light.woff') format('woff'),
        url('RenaultLife-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Renault Life';
    src: url('RenaultLife-LightItalic.woff2') format('woff2'),
        url('RenaultLife-LightItalic.woff') format('woff'),
        url('RenaultLife-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

