html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include media-breakpoint-down(lg) {
    font-size: 55%;
  }
}

body {
  font-size: 16px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
}

.main {
  position: relative;
}


// Disable most hover styles
a, a:hover {
  text-decoration: none;
  color: inherit;
}

.phone {
  white-space: nowrap;

  // Small screen
  @include media-breakpoint-down(lg) {

  }

  // Tablet
  @include media-breakpoint-down(md) {

  }

  // Mobile
  @include media-breakpoint-down(sm) {

  }
}

.disclaimer {
  font-size: 1rem;
  color: #0009;
  text-align: justify;

  a {
    text-decoration: underline;
    color: #000c;
  }
}
