$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 2.7rem;
$hamburger-layer-height: 1px !default;
$hamburger-layer-spacing: 5px !default;
$hamburger-layer-color: $black;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 0.7 !default;
$hamburger-active-layer-color: $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter: opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

// Types (Remove or comment out what you don’t need)
$hamburger-types: (
  //3 dx,
  //3 dx-r,
  //3 dy,
  //3 dy-r,
  //3 dxy,
  //3 dxy-r,
  //arrow,
  //arrow-r,
  //arrowalt,
  //arrowalt-r,
  //arrowturn,
  //arrowturn-r,
  //boring,
  //collapse,
  //collapse-r,
  //elastic,
  //elastic-r,
  //emphatic,
  //emphatic-r,
  //minus,
  //slider,
  //slider-r,
  //spring,
  //spring-r,
  //stand,
  //stand-r,
  //spin,
  //spin-r,
  squeeze, //vortex,
  //vortex-r
) !default;
