.section-title {
  @include font-size(3.5rem);
  font-weight: bold;

  @include media-breakpoint-down(md) {
    margin-bottom: 1.2rem;
  }
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.intro {
  @include font-size(4rem);
  line-height: 1.2;
  font-weight: 300;
}

.search-result-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;


  .search-result {
    font-weight: bold;
    box-shadow: 0 1px 4px #c9c9c999;
    border-radius: 4px;
    overflow: hidden;

    &:hover {
      a {
        text-decoration: underline;
      }
    }

    .content {
      margin: 1rem 2rem;
      display: block;
      display: flex;
      flex-direction: column;

      span {
        opacity: .5;
        margin-bottom: 1rem;
      }


      a {
        flex: 1;
      }
    }

    .head {
      height: 15rem;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      }
    }
  }
}

.page-content {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  p {
    margin-bottom: 3rem;
  }

}

.t-italic {
  font-style: italic;
}

.t-light {
  font-weight: 300;
}

.t-bold {
  font-weight: bold;
}

.t-14 {
  @include font-size(1.4rem);
}

.t-18 {
  @include font-size(1.8rem);
}

.t-24 {
  @include font-size(2.4rem);
}

.t-30 {
  @include font-size(3rem);
}

.t-40 {
  @include font-size(4rem);
}

.no-break {
  white-space: nowrap;
}
