/**
  Bunch of utility classes to use in SCSS or the blade templates
 */

// Used to fit an image in a container with IE polyfill
.object-fit-cover {
  width: 100%;
  height: 100%;
  font-family: 'object-fit: cover;'; // IE Polyfill
  object-fit: cover;
}

// Used to fit an image in a container with IE polyfill
.object-fit-contain {
  width: 100%;
  height: 100%;
  font-family: 'object-fit: contain;'; // IE Polyfill
  object-fit: contain;
}

// Highlight class for prices
.highlight {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-left: 0.7rem;
  color: $button-color;

  &:before {
    position: absolute;
    top: -5%;
    left: -5%;
    z-index: -1;
    width: 120%;
    height: 110%;
    background: theme-color('primary');
    content: '';
  }
}


// Line through class for prices
.line-through {
  display: inline-block;
  position: relative;

  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: .2rem;
    background: theme-color('primary');
    content: '';
    transform: translateY(-50%);
  }
}

// Gray background
.bg-gray {
  background: $gray-lighter;
}

.loading-pulse {
  animation-name: loading-pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes loading-pulse {
  0% {
    background-color: $gray-light;
  }
  50% {
    background-color: lighten($gray-lighter, 2%);
  }
  100% {
    background-color: $gray-light;
  }
}

.pointer {
  cursor: pointer;
}
