$yellow: #FFCC33;
$black: #000;
$orange: #ff671b;
$blue: #122aff;
$blue-light: #01B5D8;
$gray-light: #f2f2f2;
$white: white;

$text-on-primary-color: white;

$theme-colors: (
  primary: $blue,
  dark: $black
);

$topbar-background: $blue;
$topbar-border-color: rgba(255, 255, 255, 0.3);

$font-family-base: "DaciaSpirit", sans-serif, helvetica;

$button-border-radius: 0;
$button-color: $white;
$button-ghost-border: $black;
$button-ghost-color: $black;
$button-text-transform: initial;
$button-font-weight: normal;
$button-fonts-size: 2rem;
$button-chevron: 'chevron-right-white.svg';
$button-contact-icon: 'icon-contact-white.svg';
$button-mail-icon: 'icon-mail-white.svg';

$specs-check: 'check-white.svg';

$icons-folder: 'dacia';
