/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$yellow: #FFCC33;
$black: #1F2532;
$orange: #E35205;
$blue-light: #01B5D8;
$gray-lighter: #F6F7FB;
$gray-light: #D8D8D8;
$gray-lightish: #CCCCCC;
$gray-dark: #666666;
$gray: #EDEEEF;

/** RFS Variables */
$rfs-base-value: 1.6rem;
$rfs-rem-value: 10;
$rfs-breakpoint: 1600px;
$enable-responsive-font-sizes: true;
$rfs-factor: 2;

$grid-gutter-width: 2rem;

$container-max-widths: (
  sm: 540px,
  md: 920px,
  lg: 1120px,
  xl: 1140px,
  xxl: 1180px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 996px,
  lg: 1280px,
  xl: 1440px,
  xxl: 1600px
);

$tooltip-max-width: 50rem;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer),
  2: ($spacer * 2),
  3: $spacer * 3,
  4: ($spacer * 4),
  5: ($spacer * 5),
  6: ($spacer * 6),
  7: ($spacer * 7),
  8: ($spacer * 8),
  9: ($spacer * 9),
  10: ($spacer * 10),
  11: ($spacer * 11),
  12: ($spacer * 12),
  13: ($spacer * 13),
  14: ($spacer * 14),
  15: ($spacer * 15),
  16: ($spacer * 16),
  17: ($spacer * 17),
  18: ($spacer * 18),
  19: ($spacer * 19),
  20: ($spacer * 20)
);

/*** EASING ***/

$linear: cubic-bezier(0.250, 0.250, 0.750, 0.750);
$ease: cubic-bezier(0.250, 0.100, 0.250, 1.000);
$ease-in: cubic-bezier(0.420, 0.000, 1.000, 1.000);
$ease-out: cubic-bezier(0.000, 0.000, 0.580, 1.000);
$ease-in-out: cubic-bezier(0.420, 0.000, 0.580, 1.000);
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeInQuint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
