$yellow: #FFCC33;
$black: #1F2532;
$orange: #E35205;
$blue-light: #01B5D8;
$gray-light: #F6F7FB;

$text-on-primary-color: black;


// Theme specific settings
$theme-colors: (
  primary: $yellow,
  dark: $black,
  highlight: $orange,
);

$font-family-base: "Renault Life", sans-serif, helvetica;

$topbar-background: $black;
$topbar-border-color: #394152;

$button-border-radius: 0;
$button-color: $black;
$button-ghost-border: $black;
$button-ghost-color: $black;
$button-text-transform: uppercase;
$button-font-weight: bold;
$button-fonts-size: 1.4rem;
$button-chevron: 'chevron-right.svg';
$button-contact-icon: 'icon-phone.svg';
$specs-check: 'check-black.svg';
$button-mail-icon: 'icon-mail.svg';

$icons-folder: 'renault';
