@font-face {
    font-family: 'DaciaSpirit';
    src: url('DaciaSpirit-Black_V1300.woff2') format('woff2'),
        url('DaciaSpirit-Black_V1300.woff') format('woff'),
        url('DaciaSpirit-Black_V1300.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DaciaSpirit';
    src: url('DaciaSpirit-Regular_V1300.woff2') format('woff2'),
        url('DaciaSpirit-Regular_V1300.woff') format('woff'),
        url('DaciaSpirit-Regular_V1300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DaciaSpirit';
    src: url('DaciaSpirit-Light_V1300.woff2') format('woff2'),
        url('DaciaSpirit-Light_V1300.woff') format('woff'),
        url('DaciaSpirit-Light_V1300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DaciaSpirit';
    src: url('DaciaSpirit-Bold_V1300.woff2') format('woff2'),
        url('DaciaSpirit-Bold_V1300.woff') format('woff'),
        url('DaciaSpirit-Bold_V1300.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

