@import "common/variables";
@import "common/variables-dacia";

@import "styles";

.newsletter {
  margin-top: 2rem;
  // transform: translateX(2.3rem);

  input:focus {
    outline: none;
  }

  input[type="email"] {
    width: 100%;
    padding: 1.7rem;
    border: thin solid $text-on-primary-color;
    transform: translateX(5rem);

    @include media-breakpoint-down(lg) {
      padding: 1.5rem;
    }
  }

  input[type="button"],
  input[type="submit"] {
    @extend .button;
    display: table-cell;
    //transform: translateX(-3rem);
    width: 100%;
    border: 0;
    vertical-align: middle;
  }
}

.models-hover__model:hover .price-label {
  color: $white;
}

.section-title, .section-subtitle {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;

  span {
    color: theme-color('primary');
  }
}

.section-subtitle {
  font-weight: bold;
  margin-top: 3rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -1.3em;
    left: 50%;
    transform: translateX(-50%);
    background: theme-color('primary');
    height: 3px;
    width: 100%;
  }
}

.section__header {
  flex-direction: column;
}

.concession-slider {
  background: $gray-light;
}

.footer .social-links {
  .social-link {
    mask: none;
    background: red;
    border: none;
    position: relative;
    width: 4rem;
    height: 4rem;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: currentColor;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      mask-size: 55% 55% !important;
    }

    &.facebook {
      background-color: #3b5998;

      &::after {
        mask: url('../images/facebook-black.svg') no-repeat center;
      }
    }

    &.instagram {
      background-color: #dd2a7b;

      &::after {
        mask: url('../images/instagram-black.svg') no-repeat center;
      }
    }

    &.twitter {
      background-color: #00acee;

      &::after {
        mask: url('../images/twitter-black.svg') no-repeat center;
      }
    }

    &.linkedin {
      background-color: #0e76a8;

      &::after {
        mask: url('../images/linkedin-black.svg') no-repeat center;
      }
    }

  }
}

.stock-box {
  background: theme-color('primary') !important;
  color: $text-on-primary-color !important;

  .stock-box__select {
    color: $text-on-primary-color;
  }

  .fs-label-wrap {
    border-color: $text-on-primary-color;
  }

  .fs-arrow {
    border-top-color: $text-on-primary-color;
  }

  .button {
    background: $white;
    color: theme-color('primary');
  }

  .stock-box__radio.active::after {
    background-color: $white;
  }
}

[class*=title]:not([class*=subtitle]) {
  text-transform: uppercase;
  font-weight: 900;
}

.quicklinks {
  border-radius: 4rem;

  &::after {
    background-color: white !important;
  }

  &.active {
    border-radius: 0 0 4rem 4rem;
  }

  .quicklinks__menu-items {
    border-radius: 4rem 4rem 0 0;
    background: transparent;
    overflow: hidden;
    color: $black;
  }

  .quicklinks__menu-item {
    color: $black;
    background: $gray-light;

    & + .quicklinks__menu-item {
      margin-top: 2px;
    }

    &:hover {
      background: darken($gray-light, 10%) !important;
      color: $black !important;

      * {
        color: inherit;
      }
    }
  }
}
